@import "mixins";

:host ::ng-deep {

  .virtual-class-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: all 150ms;
    color: #f8f9fa;

    .header, .footer {
      background-color: #1f1f1f;
      min-height: 70px;
      max-height: 70px;
      padding: 0 1rem;
      transition: all 150ms;
    }

    .content {
      flex: auto;
      background: #35363D;
      padding-bottom: 70px;
      padding-top: 70px;
    }

    .footer {
      .actions {
        > * {
          display: inline-block;
          margin: 0 0.5rem;
        }
      }
    }

    .header, .footer {
      ng-button {
        &.active {
          button.p-button-primary:enabled {
            background-color: #5643C1;
          }
        }

        button {
          border-color: transparent;

          &.p-button-primary {
            background-color: #40414A;

            &:enabled:hover {
              background-color: #5643C1;
              border-color: #5643C1;
            }
          }
        }

        &.badge {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            min-width: 8px;
            min-height: 8px;
            border-radius: 50%;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            z-index: 10;
            background-color: red;
          }
        }
      }
    }

    button {
      border-radius: 8px;

      &:focus {
        box-shadow: none !important;
      }
    }

    @include media-breakpoint-up(xl) {
      .content {
        .participants {
          overflow: auto;
        }
      }
    }
    @include media-breakpoint-up(md) {
      &:not(.rtl).sidebar-visible {
        &, .header, .footer {
          margin-left: $sidebarWidth;
        }
      }
      &.rtl.sidebar-visible {
        &, .header, .footer {
          margin-right: $sidebarWidth;
        }
      }
    }
  }

  .p-sidebar {
    background-color: #40414A;
    width: $sidebarWidth;

    .p-sidebar-content, .p-tabview-panels {
      color: #f8f9fa;
    }

    .p-sidebar-content {
      height: 100%;
      padding: 0;
    }

    .p-sidebar-header {
      display: none
    }
  }
}
