<div class="virtual-class-wrapper" [class.rtl]="fa"
     [class.sidebar-visible]="membersSidebarVisible || chatSidebarVisible"
     #wrapper>
  <div class="header d-flex align-items-center justify-content-between fixed-top">
    <div class="actions d-flex align-items-center">
      <ng-logo></ng-logo>
      <ng-button class="mx-3" icon="icon-view" (click)="viewModes.toggle($event)"></ng-button>
      <h6 class="mb-0">{{currentUser.first_name}} {{currentUser.last_name}}</h6>
    </div>
    <div class="info d-flex align-items-center">
      <small class="mx-1">({{sessionDuration}})</small>
      <div>{{currentRoom.name}}</div>
      <!--      <ng-button [label]="'room.sessionInfo' | translate" (click)="sessionInfo.toggle($event)"></ng-button>-->
    </div>
  </div>

  <div class="content">
    <ng-speaker-view [hidden]="currentViewMode != 'speaker'"></ng-speaker-view>
    <ng-grid-view [users]="roomUsers" [allUsers]="allUsers" [hidden]="currentViewMode != 'grid'"></ng-grid-view>
    <ng-thumbnail-view [users]="roomUsers" [hidden]="currentViewMode != 'thumbnail'"></ng-thumbnail-view>
  </div>

  <div class="footer d-flex align-items-center justify-content-between fixed-bottom">
    <div class="sidebar">
      <ng-button icon="icon-user-groups" class="ml-3" [class.active]="membersSidebarVisible"
                 (click)="toggleMembersSidebar()"></ng-button>
      <ng-button icon="icon-chat" [class.active]="chatSidebarVisible" (click)="toggleChatSidebar()"></ng-button>
    </div>
    <div class="actions">
      <ng-button-async (clickAsync)="toggleCamera($event)"
                       newColor="success"
                       [disabled]="disableWebcam"
                       [defaultState]="webcamActivated ? 2 : 1"
                       [icon]="disableWebcam ? 'icon-camera-off' : 'icon-camera'">
      </ng-button-async>
      <ng-button-async (clickAsync)="toggleMic($event)"
                       newColor="success"
                       [disabled]="disableMic"
                       [defaultState]="micActivated ? 2 : 1"
                       [icon]="disableMic ? 'icon-mic-off' : 'icon-mic'">
      </ng-button-async>
      <ng-button-async *ngPermission="'Viewer'" (clickAsync)="toggleRaiseHand($event)" newColor="success"
                       [defaultState]="raiseHandActivated ? 2 : 1" icon="icon-hand-raise">
      </ng-button-async>
      <ng-button-async class="d-none d-xl-inline" *ngPermission="'Admin'" icon="icon-share-screen"
                       (clickAsync)="toggleScreen($event)"
                       newColor="success">
      </ng-button-async>
    </div>
    <ng-button class="d-none d-md-block" (click)="leaveRoom()" color="danger"
               [label]="'room.leaveSession' | translate"></ng-button>
    <ng-button class="d-md-none" (click)="leaveRoom()" color="danger"
               icon="icon-log-out"></ng-button>
  </div>
</div>

<p-sidebar [appendTo]="wrapper" [position]="fa ? 'right' : 'left'" [modal]="false" [showCloseIcon]="false"
           [(visible)]="chatSidebarVisible">
  <ng-chat [openPublicChat]="currentRoom.public_messages" (closeSidebar)="closeChatSidebar()"></ng-chat>
</p-sidebar>

<p-sidebar [appendTo]="wrapper" [position]="fa ? 'right' : 'left'" [modal]="false" [showCloseIcon]="false"
           [(visible)]="membersSidebarVisible">
  <ng-participants [allUsers]="allUsers" [raisedHandsUsers]="raisedHandsUsers"
                   (closeSidebar)="closeMembersSidebar()">
  </ng-participants>
</p-sidebar>

<p-overlayPanel [baseZIndex]="2000" #viewModes styleClass="view-modes {{fa ? 'rtl' : null}}">
  <ng-template pTemplate>
    <ul class="list-unstyled p-0 m-0">
      <li (click)="changeView('speaker',viewModes)" [class.active]="currentViewMode == 'speaker'">
        <i class="icon-view-speaker"></i>
        <span>{{'room.showSpeakerOnly' | translate}}</span>
      </li>
      <li (click)="changeView('grid',viewModes)" [class.active]="currentViewMode == 'grid'">
        <i class="icon-view-grid"></i>
        <span>{{'room.showAllParticipants' | translate}}</span>
      </li>
      <li (click)="changeView('thumbnail',viewModes)" [class.active]="currentViewMode == 'thumbnail'">
        <i class="icon-view-thumbnail1"></i>
        <span>{{'room.showSpeakerAndParticipants' | translate}}</span>
      </li>
    </ul>
  </ng-template>
</p-overlayPanel>

<!--<p-overlayPanel [baseZIndex]="2000" #sessionInfo styleClass="session-info {{fa ? 'rtl' : null}}">-->
<!--  <ng-template pTemplate>-->
<!--    <div class="room-info d-flex align-items-center border-bottom">-->
<!--      <ng-logo></ng-logo>-->
<!--      <div class="info {{fa ? 'mr-3' : 'ml-3'}}">-->
<!--        <div>{{currentRoom.name}}</div>-->
<!--        <div>{{'room.participantsCount' | translate:{value: allUsers.length} }}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="session-link d-flex align-items-center justify-content-between">-->
<!--      <span>{{'room.sessionLink' | translate}}</span>-->
<!--      <i class="icon-copy" (click)="copySessionLink(sessionInfo)"></i>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</p-overlayPanel>-->
