:host ::ng-deep {

  .uploader {
    cursor: pointer;
    position: relative;

    ng-button {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
    }
  }

  .alert-box {
    transition: all .3s;
  }

  .archives {
    p-listbox {
      display: block;
      max-height: 150px;
      overflow: auto;

      .p-listbox-item {
        padding: 0.5rem 1rem;

        .circle {
          min-width: 18px;
          min-height: 18px;
          border: 1px solid #b7b7b7;
          border-radius: 50%;
          display: inline-block;
          transition: all .4s;
        }

        ng-button {
          z-index: 30000;
          position: relative;
        }

        &.p-highlight {
          .circle {
            background-color: #00CC70;
          }
        }
      }
    }
  }
}
