<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <ng-custom-table *ngIf="rowData" [showCaption]="true" [rowData]="rowData.items" [config]="tableConfig"
                       captionIcon="icon-list"
                       [captionText]="'groupManagement' | translate">
        <ng-template let-item let-index="rowIndex">
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.user_count}}</td>
            <td>{{item.room_count}}</td>
            <td>
              <div class="d-flex align-items-center">
                <ng-switch [value]="item.active" (onChange)="changeGroupStatus(item,$event.checked)"></ng-switch>
                <span class="mx-2"
                      [ngClass]="{'text-success' : item.active,'text-danger' : !item.active}">{{(item.active ? 'active' : 'inactive') | translate}}</span>
              </div>
            </td>
            <td class="d-flex">
              <ng-button [pTooltip]="'editGroup' | translate" tooltipPosition="bottom" appearance="outlined" class="ml-2"
                         icon="icon-edit_FILL0_wght400_GRAD0_opsz48" (click)="editGroup(item,index)"></ng-button>
              <ng-button [pTooltip]="'deleteGroup' | translate" tooltipPosition="bottom" appearance="outlined"
                         class="ml-2" color="danger"
                         (click)="deleteGroup(item)" icon="icon-delete_FILL0_wght400_GRAD0_opsz48"></ng-button>
              <ng-button [pTooltip]="'memberManagement' | translate" tooltipPosition="bottom" appearance="outlined"

                         icon="icon-groups_FILL0_wght400_GRAD0_opsz48" [routerLink]="['/groups/setting',item.id]"></ng-button>
            </td>
          </tr>
        </ng-template>
      </ng-custom-table>
    </div>
  </div>
</div>
