<div class="white-board" *ngIf="presentationData" #presentation>
  <div class="top-actions bg-white w-100 d-flex align-items-center justify-content-between p-1 border-bottom">
    <ng-button class="btn-fullscreen" appearance="outlined" icon="icon-fullscreen"
               (click)="toggleFullScreen(presentation)"></ng-button>
    <ng-container *ngIf="presentationData.is_downloadable">
      <ng-button *ngPermission="'Viewer'" class="btn-close" icon="icon-download"
                 color="secondary"
                 (click)="downloadFile()"></ng-button>
    </ng-container>
    <ng-button *ngPermission="'Admin'" class="btn-close" icon="pi pi-times"
               color="secondary"
               (click)="closePresentation()"></ng-button>
  </div>
  <div class="image-wrapper flex-grow-1 d-flex align-items-center">
    <img class="border shadow" [src]="currentImageUrl" alt="presentation">
  </div>
  <div class="bottom-actions bg-white w-100 d-flex align-items-center justify-content-center p-1 border-top"
       *ngPermission="'Admin'">
    <ng-button-async (clickAsync)="nextPage($event)" [disabled]="disableNextBtn" class="mx-2"
                     icon="pi pi-chevron-right"></ng-button-async>
    <ng-button-async (clickAsync)="prevPage($event)" [disabled]="disablePrevBtn" class="mx-2"
                     icon="pi pi-chevron-left"></ng-button-async>
  </div>
</div>
