<ng-content></ng-content>
<div (click)="setMainPositionDisplay()" class="screen-wrapper"
     [style.backgroundColor]="hasVideo() ? '#1f1f1f' :  getColor()"
     [class.is-talking]="isTalking">
  <ng-button *ngIf="position == 'mainThumbPosition' || position == 'mainPosition'" appearance="outlined"
             class="btn-fullscreen"
             icon="icon-fullscreen_FILL0_wght400_GRAD0_opsz48"
             (click)="toggleFullScreen()"></ng-button>
  <video preload="none" #videoElem autoplay muted playsinline [hidden]="!hasVideo()"></video>
  <ng-container *ngIf="user">
    <div class="avatar" *ngIf="!hasVideo()">
      <ng-avatar [colorFull]="false" class="mb-3" [user]="user" size="xlarge"></ng-avatar>
      <small>{{user.first_name + ' ' + user.last_name}}</small>
    </div>
    <div *ngIf="hasVideo()" class="user-fullname text-truncate">
      {{user.first_name + ' ' + user.last_name}}
    </div>
    <span class="hand-raise" *ngIf="user.raise_hand">
      <i class="icon-back_hand_FILL0_wght400_GRAD0_opsz48 shadow-sm" [class.bg-success]="activateRaiseHand"></i>
    </span>
  </ng-container>
</div>
