<div class="container-fluid py-3">
  <div class="row">
    <div class="col-10 mb-3">
      <ng-auto-complete [suggestions]="filteredUsers" field="label"
                        [placeholder]="'searchUserEmail' | translate"
                        [forceSelection]="true"
                        [rtl]="fa"
                        (onSelect)="onSelectUser($event)"
                        (completeMethod)="onSearchUsers($event)">
      </ng-auto-complete>
    </div>
    <div class="col-2 mb-3">
      <ng-dropdown
        [(ngModel)]="selectedRole"
        [options]="[{label:'asAdmin' | translate,value:'Admin'},{label:'asUser' | translate,value:'Viewer'}]">
      </ng-dropdown>
    </div>
    <div class="col-12">
      <ng-custom-table [rowData]="selectedUsers" [config]="config">
        <ng-template let-item>
          <tr>
            <td>{{item.first_name + ' ' + item.last_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.role}}</td>
            <td (click)="removeUser(item)">
              <i class="icon-delete_FILL0_wght400_GRAD0_opsz48"></i>
            </td>
          </tr>
        </ng-template>
      </ng-custom-table>
    </div>
    <div class="col-12 pt-3 mt-3 text-left">
      <ng-button (onClick)="onSubmit()" [label]="'submit' | translate"
                 [disabled]="selectedUsers.length === 0">
      </ng-button>
    </div>
  </div>
</div>
