<div
  [ngClass]="{
    rtl: rtl,
    ltr: !rtl,
    'flex-column-reverse': labelPos == 'fix-top',
    'align-items-center': labelPos == 'fix-side',
    'align-items-end': labelPos == 'fix-top' && rtl,
    'flex-row': labelPos == 'fix-side' && rtl,
    'flex-row-reverse': labelPos == 'fix-side' && !rtl
  }"
  class="wrapper d-flex"
>
  <div
    [ngClass]="{
      'w-100': labelPos == 'fix-top',
      'p-float-label': labelPos == 'float',
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled && value
    }"
    class="flex-grow-1"
  >
    <i *ngIf="icon" [ngClass]="icon"></i>
    <input
      (blur)="_onBlur()"
      (change)="_onChange($event)"
      (click)="emitter('onClick', $event)"
      (focus)="emitter('onFocus', $event)"
      (input)="_onInput($event)"
      (keydown)="_onKeydown($event)"
      (keyup)="_onKeyup($event)"
      (onAfterBtnClick)="emitter('onAfterBtnClick', $event)"
      (onBeforeBtnClick)="emitter('onBeforeBtnClick', $event)"
      [(ngModel)]="value"
      [attr.id]="inputId"
      [attr.maxlength]="maxlength"
      [attr.placeholder]="placeholder"
      [attr.type]="type"
      [disabled]="disabled"
      [ngAddon]="addon"
      [ngClass]="{
        'ng-invalid ng-dirty': ngControl ? isInvalid(ngControl.control) : false
      }"
      [pKeyFilter]="keyFilter"
      [readonly]="readonly"
      pInputText
      #inputElem
    />
    <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">{{
      label
      }}</label>
    <ng-container *ngFor="let error of errors | keyvalue">
      <small
        *ngIf="showError(error.key)"
        [class.mt-4]="hint"
        class="error p-invalid p-error"
      >
        {{ error.value }}
      </small>
    </ng-container>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [attr.for]="inputId"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [style.width.px]="labelWidth"
  >{{ label }}</label
  >
</div>

<small *ngIf="hint">{{ hint }}</small>
