$inputEl: "input";

#{$inputEl},
small {
  display: block;
  width: 100%;
}

.wrapper { direction: ltr;
  #{$inputEl}.has-before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  #{$inputEl}.has-after {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  #{$inputEl}.has-after.has-before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > div {
    position: relative;
    .error {
      position: absolute;
      top: 100%;
    }
  }
  &.ltr {
    > div {

      .error {
        left: 0;
      }
    }
    #{$inputEl},
    label,
    .error,
    ~ small {
      direction: ltr;
    }
  }
  &.rtl { text-align: right;
    > div {
      &.p-float-label {
        label {
          right: 0.5rem;
          left: auto;
        }
        &.p-input-icon-right {
          label {
            right: 2rem;
          }
        }
      }
      .error {
        right: 0;
      }
    }
    #{$inputEl},
    label,
    .error,
    ~ small {
      direction: rtl;
    }
  }
}

.p-inputgroup {
  display: flex;
}

.dd-tree {
  position: relative;

  input {
    cursor: pointer;
  }
}

.dropdown-section {
  position: absolute;
  z-index: 1000;
  width: 100%;
  // background-color: #fff;
  // border-radius: 0.25rem;
}

.hide {
  display: none;
}

ng-tree ::ng-deep .p-tree {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
