<div class="container-fluid">
  <div class="form-row">
    <div class="col-12">
      <p>{{'room.chooseWhiteboardPermissionUsers' | translate}}</p>
      <ng-auto-complete [suggestions]="filteredUsers"
                        [placeholder]="'room.searchParticipants' | translate"
                        [forceSelection]="true"
                        [rtl]="fa"
                        (onSelect)="onSelectUser($event)"
                        [multiple]="true"
                        (completeMethod)="onSearchUsers($event)"
                        [(ngModel)]="allowedUsers"
                        (onUnselect)="onUnselectUser($event)">
        <ng-template let-user ngTemplate="item">
          <span>{{user.first_name + ' ' + user.last_name }}</span>
        </ng-template>
        <ng-template let-user ngTemplate="selectedItem">
          <span>{{user.first_name + ' ' + user.last_name }}</span>
        </ng-template>
      </ng-auto-complete>
    </div>
    <div class="col-12 pt-3 mt-3 text-left">
      <ng-button (onClick)="onSubmit()" [label]="'submit' | translate">
      </ng-button>
    </div>
  </div>
</div>
