@import "mixins";

:host ::ng-deep {
  .main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 68px;
    background-color: #f5f6f7;

    main {
      transition: all 200ms;
      flex: 1;
    }

    .outlet-wrapper {
      background: #FFFFFF;
      padding: 2rem 1rem 2rem;
      margin: 2rem;
      border: 1px solid #DADBE1;
    }

    &.menu-overlay.sidebar-lock,
    &.menu-static.sidebar-open {
      &:not(.rtl) {
        main, nav {
          margin-left: $sidebarWidth;
        }
      }

      &.rtl {
        main, nav {
          text-align: right;
          margin-right: $sidebarWidth;
        }
      }
    }
  }
}
