<div class="main-content {{getClasses()}}">
  <navbar-menu
    [menuType]="menuType"
    [user]="currentUser"
    [sidebarItems]="sidebarItems"
    [sidebarVisible]="sidebarVisible"
    [sidebarLock]="sidebarLock"
    (sidebarVisibleChange)="onSidebarVisibleChange($event)"
    (sidebarLockChange)="onSidebarLockChange($event)"
  ></navbar-menu>
  <main [ngClass]="{rtl: fa,'sidebar-open':sidebarVisible,'sidebar-lock':sidebarLock}">
    <ng-breadcrumb></ng-breadcrumb>
    <div class="outlet-wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<ng-loading></ng-loading>
