@import "mixins";

:host ::ng-deep {
  .main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 68px;
    background-color: #f5f6f7;

    main {
      transition: all 200ms;
      flex: 1;
    }

    .outlet-wrapper {
      background: #FFFFFF;
      padding: 2rem 1rem 2rem;
      margin: 2rem;
      border: 1px solid #DADBE1;
    }

    &.menu-overlay, &.menu-overlay-mask {
      &.sidebar-lock {
        .pi-times {
          display: none;
        }

        &:not(.rtl) {
          main, nav {
            margin-left: 20rem;
          }
        }

        &.rtl {
          main, nav {
            text-align: right;
            margin-right: 20rem;
          }
        }
      }
    }

    &.menu-push, &.menu-push-mask {
      &.sidebar-open {
        &:not(.rtl) {
          main, nav {
            transform: translateX(20rem);
          }
        }

        &.rtl {
          main, nav {
            transform: translateX(-20rem);
          }
        }
      }

      &.sidebar-lock {
        &:not(.rtl) {
          main, nav {
            transform: translateX(0);
            margin-left: 20rem;
          }
        }

        &.rtl {
          main, nav {
            transform: translateX(0);
            margin-right: 20rem;
          }
        }
      }
    }

    &.menu-static {
      &.sidebar-open {
        &:not(.rtl) {
          main, nav {
            margin-left: 20rem;
          }
        }

        &.rtl {
          main, nav {
            margin-right: 20rem;
          }
        }
      }
    }

    &.menu-hover {
      .p-panelmenu-header-link {
        flex-direction: row-reverse;
        justify-content: space-between;
      }

      .p-menuitem-icon {
        margin: 0 !important;
      }

      &:not(.rtl) {
        main, nav {
          margin-right: 5rem;
        }

        .p-sidebar {
          transform: translateX(calc(100% - 5rem));

          &:hover {
            transform: translateX(0);
          }
        }
      }

      &.rtl {
        main, nav {
          margin-right: 5rem;
        }

        .p-sidebar {
          transform: translateX(calc(100% - 5rem));

          &:hover {
            transform: translateX(0);
          }
        }
      }

      &.sidebar-lock {
        .p-sidebar {
          transform: translateX(0);
        }

        &:not(.rtl) {
          main, nav {
            margin-left: 20rem;
          }
        }

        &.rtl {
          main, nav {
            margin-right: 20rem;
          }
        }
      }
    }

    &.menu-horizontal {
    }

  }
}

//:host {
//  display: flex;
//  flex-direction: column;
//  height: 100%;
//
//  main {
//    padding-top: 68px;
//    transition: all 150ms;
//    background-color: #F5F6F7;
//    flex: auto;
//
//    @include media-breakpoint-up(md) {
//      &.sidebar-open:not(.sidebar-lock) {
//        transform: translateX(20rem);
//
//        &.rtl {
//          text-align: right;
//          transform: translateX(-20rem);
//        }
//      }
//
//      &.sidebar-lock {
//        margin-left: 20rem;
//
//        &.rtl {
//          text-align: right;
//          margin-left: 0;
//          margin-right: 20rem;
//        }
//      }
//    }
//
//    .outlet-wrapper {
//      flex-grow: 1;
//      background-color: #ffffff;
//      padding: 2rem calc(1.5rem - 15px);
//      margin: 1.5rem 1.5rem;
//      border: 1px solid #DADBE1;
//    }
//
//    //.sidebar {
//    //  position: relative;
//    //  transition: all .4s;
//    //  background-color: #ffffff;
//    //  border-left: 1px solid #DADBE1;
//    //  width: 7.3rem;
//    //
//    //  .sidebar-toggler {
//    //    position: absolute;
//    //    left: 0;
//    //    transform: translateX(-50%);
//    //    width: 22px;
//    //    height: 22px;
//    //    border: 1px solid #DADBE1;
//    //    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
//    //    border-radius: 4px;
//    //    background-color: #ffffff;
//    //    top: 40px;
//    //    display: flex;
//    //    align-items: center;
//    //    justify-content: center;
//    //    cursor: pointer;
//    //    z-index: 200;
//    //
//    //    span {
//    //      transform-origin: center center;
//    //      transition: all .2s;
//    //    }
//    //  }
//    //
//    //  ul {
//    //    li {
//    //      cursor: pointer;
//    //      transition: all .2s;
//    //      color: #848484;
//    //      position: relative;
//    //
//    //      > span {
//    //        white-space: nowrap;
//    //        overflow: hidden;
//    //        transition: all .4s;
//    //      }
//    //
//    //      .submenu-wrapper {
//    //        display: none;
//    //        position: absolute;
//    //        top: 0;
//    //        left: 0;
//    //        transform: translateX(-100%);
//    //        z-index: 5000;
//    //        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
//    //        min-width: 10rem;
//    //        background-color: #ffffff;
//    //      }
//    //
//    //      &:hover {
//    //        background-color: rgba(86, 67, 193, .05);
//    //        color: #5643c1;
//    //
//    //        .submenu-wrapper {
//    //          display: block;
//    //        }
//    //      }
//    //    }
//    //
//    //    &:not(.submenu) {
//    //      > li > span {
//    //        width: 0;
//    //        opacity: 0;
//    //      }
//    //    }
//    //  }
//    //
//    //  &.open {
//    //    width: 16rem;
//    //
//    //    ul:not(.submenu) {
//    //      > li > span {
//    //        width: 100%;
//    //        opacity: 1;
//    //        margin-right: 0.5rem
//    //      }
//    //    }
//    //
//    //    .sidebar-toggler span {
//    //      transform: rotate(180deg);
//    //    }
//    //  }
//    //}
//  }
//}
