<nav class="navbar navbar-expand shadow-sm fixed-top">
  <div class="collapse navbar-collapse">
    <ng-button
      icon="pi pi-bars"
      color="primary"
      appearance="text"
      *ngIf="!sidebarLock && menuType != 'hover' && menuType != 'horizontal'"
      (click)="handleSidebarToggler()"
    >
    </ng-button>
    <div class="navbar-brand mx-3 d-none d-sm-block">
      <ng-logo></ng-logo>
    </div>
    <ul class="navbar-nav flex-grow-1 p-0 m{{ fa ? 'r' : 'l' }}-auto">
      <li class="nav-item h6 mb-0">
        <span class="nav-link">{{ user.first_name + ' ' + user.last_name }}</span>
        <span class="d-none d-sm-block">{{'welcome' | translate}}</span>
        <span class="role mx-2 text-light p-1">{{user.role.toLowerCase() | translate}}</span>
      </li>
      <li class="nav-item flex-grow-1"></li>
      <!--      <li class="nav-item">-->
      <!--        <i class="icon-notification"></i>-->
      <!--      </li>-->
      <li
        class="nav-item pr-4 mr-4 border-right"
        (click)="accountMenu.toggle($event)"
      >
        <ng-avatar [user]="user"></ng-avatar>
      </li>
    </ul>
  </div>
</nav>
<p-menu
  #accountMenu
  [baseZIndex]="1000"
  [popup]="true"
  [model]="accountItems"
></p-menu>

<div class="sidebar"
     [class.lock]="sidebarLock"
     [class.shadow]="!sidebarLock && sidebarVisible"
     [class.visible]="sidebarVisible"
>
  <div class="d-flex align-items-center justify-content-between py-3 mb-3 border-bottom sticky-top section-top">
    <ng-logo></ng-logo>
    <i class="border rounded-circle p-2 bg-light d-none d-md-block pi pi-lock{{ !sidebarLock ? '-open' : '' }}"
       (click)="handleSidebarLockToggler()"></i>
    <i class="border rounded-circle p-2 bg-light d-md-none pi pi-times"
       (click)="toggleSidebarVisible(false)"></i>
  </div>
  <p-panelMenu [multiple]="false" [model]="sidebarItems"></p-panelMenu>
</div>
