@import "mixins";

:host ::ng-deep {
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    border-radius: 8px;
    background-color: #343a40;
    overflow: hidden;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #343a40;
      border-radius: 8px;

      &:last-child {
        left: -2000px;
      }
    }

    meter {
      position: absolute;
      bottom: 35px;
      left: -35px;
      transform: rotate(90deg) translateY(-100%);
    }
  }

  .media-test {
    .test-item {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      margin-bottom: 1rem;
    }
  }

  p {
    margin: 0;
    font-size: 12px;
    color: #FF4500FF;
    text-align: left;
  }

  p-messages.rtl {
    .p-message {
      border-width: 0 6px 0 0;

      &-icon {
        margin-left: 0.5rem;
        margin-right: 0;
      }
    }
  }
}
