@import "mixins";

:host ::ng-deep {
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    border-radius: 8px;
    background-color: #343a40;
    overflow: hidden;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #343a40;
      border-radius: 8px;

      &:last-child {
        left: -2000px;
      }
    }
  }

  .media-test {
    .test-item {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      margin-bottom: 1rem;
    }
  }

  //display: flex;
  //align-items: center;

  //.wrapper {
  //  display: grid;
  //  grid-template-columns: repeat(2, 1fr);
  //  grid-auto-rows: 1fr;
  //  width: 100%;
  //
  //  .video-preview {
  //    position: relative;
  //
  //    .video-wrapper {
  //      position: relative;
  //      padding-bottom: 56.25%;
  //
  //      video {
  //        position: absolute;
  //        top: 0;
  //        left: 0;
  //        width: 100%;
  //        height: 100%;
  //      }
  //    }
  //
  //    .preview-footer {
  //      position: absolute;
  //      bottom: 0;
  //      width: 100%;
  //    }
  //  }
  //
  //  .p-messages {
  //    .p-message-wrapper {
  //      flex-direction: row-reverse;
  //    }
  //  }
  //
  //  @include media-breakpoint-down(lg) {
  //    display: flex;
  //    flex-direction: column;
  //
  //    .video-preview {
  //      min-height: 250px
  //    }
  //  }
  //}
}
