:host ::ng-deep {
  .message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.8rem;

    .message-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .message-info-name {
        margin-right: 10px;
      }

      .message-info-time {
        font-size: 0.85em;
      }
    }

    .message-bubble {
      flex-grow: 1;
      padding: 1rem;
      border-radius: 1rem;
      background-color: #5C5C5C;
      color: #ffffff;

      .message-text {
        overflow-wrap: break-word;
        word-break: break-word;
      }

      .reply-container {
        border-right: 6px solid #61987A;
        padding: 0.2rem 1rem;
        background: rgba(196, 196, 196, 0.08);
        border-radius: 4px;
        margin-bottom: 0.5rem;

        small:last-child {
          color: #FFFFFF;
          opacity: 0.6;
          display: block;
        }
      }
    }

    .reply {
      text-align: center;

      button {
        width: 2.5rem;
        min-width: 2.5rem;
        height: 2.5rem;
      }
    }

    &.left {
      .message-bubble {
        border-bottom-left-radius: 0;
      }

      .reply {
        margin-right: 0.5rem
      }
    }

    &.right {
      flex-direction: row-reverse;

      .message-bubble {
        background-color: #5C527F;
        border-bottom-right-radius: 0;
      }

      .reply {
        margin-left: 0.5rem
      }
    }
  }
}
