<div class="message {{position}}">
  <div class="message-bubble">
    <div class="message-info">
      <div class="message-info-name font-medium">{{sender.first_name + ' ' + sender.last_name}}</div>
      <div class="message-info-time">{{ message.datetime | ngDate:'fa-ir' }}</div>
    </div>
    <div class="reply-container" *ngIf="replyMessage">
      <small class="sender font-medium">{{replyMessage.user.first_name + ' ' + replyMessage.user.last_name}}</small>
      <small class="text font-light">{{replyMessage.message.message}}</small>
    </div>
    <div class="message-text" [class.ltr]="isAscii()" [innerText]="message.message"></div>
  </div>
  <div class="reply">
    <ng-avatar [user]="sender"></ng-avatar>
    <ng-button *ngIf="!showMoreOptions" appearance="text" (onClick)="onReply()" class="mt-2" [rounded]="true"
               icon="icon-reply_FILL0_wght400_GRAD0_opsz48"></ng-button>
    <ng-button *ngIf="showMoreOptions" appearance="text" (onClick)="messageActions.toggle($event)" class="mt-2"
               [rounded]="true"
               icon="icon-more_horiz_FILL0_wght400_GRAD0_opsz48"></ng-button>
  </div>
</div>

<p-overlayPanel [baseZIndex]="2000" #messageActions styleClass="actions {{fa ? 'rtl' : null}}">
  <ul class="list-unstyled p-0 m-0">
    <li (click)="onReply(messageActions)">
      <i class="icon-reply_FILL0_wght400_GRAD0_opsz48"></i>
      <span>{{'room.reply' | translate}}</span>
    </li>
    <li (click)="onDelete(messageActions)">
      <i class="icon-delete_FILL0_wght400_GRAD0_opsz48"></i>
      <span>{{'room.deleteMessage' | translate}}</span>
    </li>
    <li (click)="muteUser(messageActions)" *ngIf="sender.id != currentUser.id">
      <i class="icon-account_box_FILL0_wght400_GRAD0_opsz48"></i>
      <span>{{(sender.user_message_state ? 'room.unmuteUser' : 'room.muteUser') | translate}}</span>
    </li>
    <li (click)="onPin(messageActions)">
      <i class="icon-push_pin_FILL0_wght400_GRAD0_opsz48"></i>
      <span>{{'room.pinMessage' | translate}}</span>
    </li>
  </ul>
</p-overlayPanel>
