<div class="message {{position}}">
  <div class="message-bubble">
    <div class="message-info">
      <div class="message-info-name font-medium">{{sender.first_name + ' ' + sender.last_name}}</div>
      <div class="message-info-time">{{ message.datetime | ngDate:'fa-ir' }}</div>
    </div>
    <div class="reply-container" *ngIf="replyMessage">
      <small class="sender font-medium">{{replyMessage.user.first_name + ' ' + sender.last_name}}</small>
      <small class="text font-light">{{replyMessage.message.message}}</small>
    </div>
    <div class="message-text">
      {{message.message}}
    </div>
  </div>
  <div class="reply">
    <ng-avatar [user]="sender"></ng-avatar>
    <ng-button *ngPermission="'Viewer'" (onClick)="onReply()" class="mt-2" [rounded]="true"
               icon="icon-forward"></ng-button>
    <ng-button *ngPermission="'Admin'" appearance="text" (onClick)="messageActions.toggle($event)" class="mt-2"
               [rounded]="true"
               icon="icon-more"></ng-button>
  </div>
</div>

<p-overlayPanel [baseZIndex]="2000" #messageActions styleClass="actions {{fa ? 'rtl' : null}}">
  <ul class="list-unstyled p-0 m-0">
    <!--      <li (click)="saveChat()">-->
    <!--        <i class="icon-view-speaker"></i>-->
    <!--        <span>{{'room.showSpeakerOnly' | translate}}</span>-->
    <!--      </li>-->
    <li (click)="onReply(messageActions)">
      <i class="icon-forward"></i>
      <span>{{'room.reply' | translate}}</span>
    </li>
    <li (click)="onDelete(messageActions)">
      <i class="icon-delete"></i>
      <span>{{'room.deleteMessage' | translate}}</span>
    </li>
    <!--      <li (click)="onPin(messageActions)">-->
    <!--        <i class="icon-pin"></i>-->
    <!--        <span>{{'room.pinMessage' | translate}}</span>-->
    <!--      </li>-->
    <!--      <li (click)="saveChat()">-->
    <!--        <i class="icon-view-speaker"></i>-->
    <!--        <span>{{(openPrivateChat ? 'room.closePrivateChat' : 'room.openPrivateChat') | translate}}</span>-->
    <!--      </li>-->
  </ul>
</p-overlayPanel>
