:host ::ng-deep {
  p-avatar {
    display: flex;

    img {
      height: auto;
    }

    &.editable {
      cursor: pointer;
    }

    .p-avatar-text {
      font-size: 1rem;
      color: #303030;
    }
  }
}
