<div class="wrapper">
  <p>
    {{'deleteMemberUserConfirmBody' | translate}}
  </p>
  <div class="rooms mb-4">
    <div class="d-flex align-items-center bg-light border d-flex justify-content-center p-3 rounded-top title">
      <i class="icon-room mx-2"></i>
      <span>{{ 'rooms' | translate}}</span>
    </div>
    <ul class="list-unstyled items p-0 m-0">
      <li class="list-group-item" *ngFor="let item of relations?.rooms">{{item.name}}</li>
      <li class="list-group-item" *ngIf="relations?.rooms.length == 0">
        <ng-empty [message]="'nothingFound' | translate"></ng-empty>
      </li>
    </ul>
  </div>
  <div class="groups mb-5">
    <div class="d-flex align-items-center bg-light border d-flex justify-content-center p-3 rounded-top title">
      <i class="icon-user-groups mx-2"></i>
      <span>{{'groups' | translate}}</span>
    </div>
    <ul class="list-unstyled items p-0 m-0">
      <li class="list-group-item" *ngFor="let item of relations?.groups">{{item.name}}</li>
      <li class="list-group-item" *ngIf="relations?.groups.length == 0">
        <ng-empty [message]="'nothingFound' | translate"></ng-empty>
      </li>
    </ul>
  </div>
</div>
<div class="actions text-left">
  <ng-button class="mx-2" appearance="outlined" color="secondary" icon="pi pi-times" [label]="'no' | translate"
             (click)="onClose()"></ng-button>
  <ng-button class="mx-2" icon="pi pi-check" [label]="'yes' | translate"
             (click)="onSubmit()"></ng-button>
</div>
