:host ::ng-deep {
  display: flex;
  flex-direction: column;

  .messenger {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: auto;
    overflow-y: auto;

    &.has-pinned-message {
      height: calc(100% - 64px);
    }

    .pinned-container {
      padding: 0.2rem 1rem;
      background: rgba(#C4C4C4, 0.14);
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .chat-footer {
    .reply-container {
      border-right: 6px solid #61987A;
      padding: 0.2rem 1rem;
      background: rgba(196, 196, 196, 0.08);
      border-radius: 4px;
      margin-bottom: 0.5rem;

      i {
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .chat-inputarea {
      display: flex;
      align-items: center;
      padding: 1rem;
      background: #5F6069;

      input,
      textarea {
        max-height: 100px;
        resize: none;
        background-color: transparent;
        color: #ffffff;
        border-color: #E0E0E0 !important;
      }
    }
  }
}
