<div class="pinned-container d-flex align-items-center justify-content-between py-3 rounded bg-secondary shadow"
     *ngIf="pinnedMessage">
  <i class="icon-pin text-warning mx-2"></i>
  <div class="message-info flex-grow-1">
    <small
      class="d-block font-medium">{{pinnedMessage.sender_first_name + ' ' + pinnedMessage.sender_last_name}}</small>
    <small class="d-block font-light">{{pinnedMessage.message}}</small>
  </div>
  <i class="pi pi-times mx-2" role="button" (click)="closePin()"></i>
</div>
<div class="messenger p-2" [class.has-pinned-message]="pinnedMessage" #chatContainer (scroll)="scrolled()">
  <ng-message-item #messageItem *ngFor="let message of messages;let last=last;trackBy:trackByFn"
                   [class.mb-3]="!last"
                   [position]="message.user.id == currentUser.id ? 'right' : 'left'"
                   [message]="message.message"
                   [sender]="message.user"
                   [showMoreOptions]="type == 'public' && currentUser.role == 'Admin'"
                   [replyMessage]="getReplyMessageOf(message)"
                   (delete)="deleteMessageClick(message)"
                   (pin)="pinMessageClick(message)"
                   (mute)="muteUserClick(message)"
                   (reply)="replyMessageClick(message)">
  </ng-message-item>
</div>
<div class="chat-footer">
  <div *ngIf="replyMessage" class="reply-container d-flex align-items-center justify-content-between py-2 m-2 rounded">
    <div class="message-info">
      <small
        class="d-block font-medium">{{replyMessage.user.first_name + ' ' + replyMessage.user.last_name}}</small>
      <small class="d-block font-light">{{replyMessage.message.message}}</small>
    </div>
    <i class="pi pi-times" (click)="cancelReply()"></i>
  </div>
  <emoji-mart [style]="{width:'100%'}" [enableSearch]="false" *ngIf="emojiPickerVisible"
              (emojiSelect)="addEmoji($event)"
              [showPreview]="false"></emoji-mart>
  <div class="chat-inputarea">
    <ng-container *ngIf="enableChat">
      <ng-button (click)="toggleEmojiPicker()"
                 icon="icon-emoji_happy"></ng-button>
      <ng-input-text [rtl]="fa" (keyup.enter)="sendMessageClick(null)" inputSize="md"
                     class="mx-2 flex-grow-1"
                     [placeholder]="'room.sendAMessage' | translate"
                     [(ngModel)]="messageText"></ng-input-text>
      <ng-button-async appearance="outlined" color="success" newColor="success" [rounded]="true"
                       icon="pi pi-chevron-left"
                       (clickAsync)="sendMessageClick($event)"></ng-button-async>
    </ng-container>
    <span class="text-center flex-grow-1" *ngIf="!enableChat">{{'room.sendMessageBlocked' | translate}}</span>
  </div>
</div>
