<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <ng-custom-table *ngIf="rowData" [showCaption]="true" [rowData]="rowData.items" [config]="tableConfig"
                       captionIcon="icon-list"
                       [captionText]="'لیست کاربران' | translate">
        <ng-template let-item let-index="rowIndex">
          <tr>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone_number}}</td>
            <td>{{item.state}}</td>
            <td>
              <div class="d-flex align-items-center">
                <ng-switch [value]="item.active" (onChange)="changeUserStatus(item,$event.checked)"></ng-switch>
                <span class="mx-2"
                      [ngClass]="{'text-success' : item.active,'text-danger' : !item.active}">{{(item.active ? 'فعال' : 'غیرفعال') | translate}}</span>
              </div>
            </td>
            <td class="d-flex">
              <ng-button pTooltip="ویرایش کاربر" tooltipPosition="bottom" appearance="outlined"
                         icon="icon-edit" (click)="editUser(item,index)"></ng-button>
              <ng-button pTooltip="حذف کاربر" tooltipPosition="bottom" appearance="outlined" class="mx-2" color="danger"
                         (click)="deleteUser(item)" icon="icon-delete"></ng-button>
              <ng-button pTooltip="بازیابی رمزعبور" tooltipPosition="bottom" appearance="outlined" color="help"
                         (click)="resetPassword(item)" icon="icon-unlock"></ng-button>
            </td>
          </tr>
        </ng-template>
      </ng-custom-table>
    </div>
  </div>
</div>
