<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <ng-custom-table *ngIf="rowData" [showCaption]="true" [rowData]="rowData.items" [config]="tableConfig"
                       captionIcon="icon-list"
                       [captionText]="'userList' | translate">
        <ng-template let-item let-index="rowIndex">
          <tr>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone_number}}</td>
            <td>{{getTranslated(item.state)}}</td>
            <td>
              <div class="d-flex align-items-center">
                <ng-switch [value]="item.active" (onChange)="changeUserStatus(item,$event.checked)"></ng-switch>
                <span class="mx-2"
                      [ngClass]="{'text-success' : item.active,'text-danger' : !item.active}">{{(item.active ? 'active' : 'inactive') | translate}}</span>
              </div>
            </td>
            <td class="d-flex">
              <ng-button [pTooltip]="'editUser' | translate" tooltipPosition="bottom" appearance="outlined"
                         icon="icon-edit_FILL0_wght400_GRAD0_opsz48" (click)="editUser(item,index)"></ng-button>
              <ng-button [pTooltip]="'deleteUser' | translate" tooltipPosition="bottom" appearance="outlined"
                         class="mx-2" color="danger"
                         (click)="deleteUser(item)" icon="icon-delete_FILL0_wght400_GRAD0_opsz48"></ng-button>
              <ng-button [pTooltip]="'resetPassword' | translate" tooltipPosition="bottom" appearance="outlined"
                         color="help"
                         (click)="resetPassword(item)" icon="icon-lock_open_FILL0_wght400_GRAD0_opsz48"></ng-button>
            </td>
          </tr>
        </ng-template>
      </ng-custom-table>
    </div>
  </div>
</div>
