<div class="wrapper">
  <p class="mb-4">{{poll.description}}</p>
  <ng-multi-checkbox *ngIf="poll.multiple_choice" [rtl]="fa" class="d-block" [options]="poll.options" optionValue="id"
                     optionLabel="description"
                     [(ngModel)]="selectedOptions">
  </ng-multi-checkbox>
  <ng-radio *ngIf="!poll.multiple_choice" [rtl]="fa" class="d-block" [options]="poll.options" optionValue="id"
            optionLabel="description"
            [(ngModel)]="selectedOptions">
  </ng-radio>
  <div class="d-flex align-items-center justify-content-between mt-3">
    <small class="text-muted" *ngIf="poll.multiple_choice">({{'room.multipleChoiceAllowed' | translate}})</small>
    <ng-button class="d-block mr-auto"
               [disabled]="!selectedOptions || selectedOptions?.length == 0"
               (onClick)="onSubmit()"
               [label]="'submit' | translate"></ng-button>
  </div>
</div>
