@font-face {
  font-family: 'icomoon';
  src: url('~/assets/styles/fonts/icomoon/icomoon.eot?cbl7vx');
  src: url('~/assets/styles/fonts/icomoon/icomoon.eot?cbl7vx#iefix') format('embedded-opentype'),
  url('~/assets/styles/fonts/icomoon/icomoon.ttf?cbl7vx') format('truetype'),
  url('~/assets/styles/fonts/icomoon/icomoon.woff?cbl7vx') format('woff'),
  url('~/assets/styles/fonts/icomoon/icomoon.svg?cbl7vx#icomoon}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px !important;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add_FILL1_wght400_GRAD0_opsz48:before {
  content: "\e96f";
}

.icon-add_moderator_FILL0_wght400_GRAD0_opsz48-1:before {
  content: "\e970";
}

.icon-call_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e971";
}

.icon-change-to-webinar:before {
  content: "\e972";
}

.icon-double_arrow_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e973";
}

.icon-expand_less_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e974";
}

.icon-format_paint_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e975";
}

.icon-image_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e976";
}

.icon-sentiment_satisfied_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e977";
}

.icon-upload_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e978";
}

.icon-vpn_key_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e979";
}

.icon-account_box_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e900";
}

.icon-account_circle_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e901";
}

.icon-add_circle_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e902";
}

.icon-add_circle_FILL1_wght400_GRAD0_opsz48:before {
  content: "\e903";
}

.icon-add_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e904";
}

.icon-add_moderator_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e905";
}

.icon-ads_click_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e906";
}

.icon-arrows_more_down_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e907";
}

.icon-article_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e908";
}

.icon-attach_file_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e909";
}

.icon-back_hand_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e90a";
}

.icon-backspace_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e90b";
}

.icon-block_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e90c";
}

.icon-brush_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e90d";
}

.icon-business_center_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e90e";
}

.icon-call_end_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e90f";
}

.icon-cancel_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e910";
}

.icon-cancel_FILL1_wght400_GRAD0_opsz48:before {
  content: "\e911";
}

.icon-change-to-webinar1:before {
  content: "\e912";
}

.icon-change_history_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e913";
}

.icon-check_circle_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e914";
}

.icon-check_circle_FILL1_wght400_GRAD0_opsz48:before {
  content: "\e915";
}

.icon-chevron:before {
  content: "\e916";
}

.icon-circle_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e917";
}

.icon-close_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e918";
}

.icon-cloud_upload_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e919";
}

.icon-colorize_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e91a";
}

.icon-contrast_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e91b";
}

.icon-crop_landscape_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e91c";
}

.icon-delete_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e91d";
}

.icon-description_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e91e";
}

.icon-done_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e91f";
}

.icon-download_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e920";
}

.icon-draft_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e921";
}

.icon-drag_indicator_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e922";
}

.icon-edit_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e923";
}

.icon-file_upload_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e924";
}

.icon-fi-sr-time-half-past:before {
  content: "\e925";
}

.icon-fi-sr-time-quarter-past:before {
  content: "\e926";
}

.icon-fi-sr-time-quarter-to:before {
  content: "\e927";
}

.icon-format_color_fill_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e928";
}

.icon-format_underlined_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e929";
}

.icon-fullscreen_exit_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e92a";
}

.icon-fullscreen_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e92b";
}

.icon-gpp_bad_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e92c";
}

.icon-grade_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e92d";
}

.icon-grid_on_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e92e";
}

.icon-grid_view_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e92f";
}

.icon-group_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e930";
}

.icon-groups_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e931";
}

.icon-imagesmode_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e932";
}

.icon-info_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e933";
}

.icon-ios_share_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e934";
}

.icon-key_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e935";
}

.icon-line_weight_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e936";
}

.icon-link_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e937";
}

.icon-lock_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e938";
}

.icon-lock_open_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e939";
}

.icon-logout_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e93a";
}

.icon-menu_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e93b";
}

.icon-mic_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e93c";
}

.icon-mic_off_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e93d";
}

.icon-mood_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e93e";
}

.icon-more_horiz_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e93f";
}

.icon-more_vert_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e940";
}

.icon-notifications_active_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e941";
}

.icon-notifications_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e942";
}

.icon-open_in_new_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e943";
}

.icon-palette_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e944";
}

.icon-pause_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e945";
}

.icon-pause_FILL1_wght400_GRAD0_opsz48:before {
  content: "\e946";
}

.icon-pending_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e947";
}

.icon-person_add_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e948";
}

.icon-person_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e949";
}

.icon-play_arrow_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e94a";
}

.icon-play_arrow_FILL1_wght400_GRAD0_opsz48:before {
  content: "\e94b";
}

.icon-play_circle_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e94c";
}

.icon-present_to_all_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e94d";
}

.icon-push_pin_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e94e";
}

.icon-radio_button_checked_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e94f";
}

.icon-redo_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e950";
}

.icon-remove_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e951";
}

.icon-remove_moderator_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e952";
}

.icon-reply_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e953";
}

.icon-screenshot_monitor_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e954";
}

.icon-search_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e955";
}

.icon-select_all_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e956";
}

.icon-send_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e957";
}

.icon-send_to_mobile_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e958";
}

.icon-settings_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e959";
}

.icon-share_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e95a";
}

.icon-signal_cellular_alt_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e95b";
}

.icon-sms_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e95c";
}

.icon-square_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e95d";
}

.icon-stop_FILL1_wght400_GRAD0_opsz48:before {
  content: "\e95e";
}

.icon-sync_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e95f";
}

.icon-text_fields_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e960";
}

.icon-title_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e961";
}

.icon-tune_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e962";
}

.icon-undo_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e963";
}

.icon-unfold_less_double_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e964";
}

.icon-videocam_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e965";
}

.icon-videocam_off_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e966";
}

.icon-view_quilt_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e967";
}

.icon-view_sidebar_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e968";
}

.icon-visibility_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e969";
}

.icon-visibility_off_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e96a";
}

.icon-volume_mute_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e96b";
}

.icon-volume_up_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e96c";
}

.icon-zoom_in_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e96d";
}

.icon-zoom_out_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e96e";
}
