<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-5">
      <h4 class="main-title">{{'groupMemberManagement' | translate}}</h4>
    </div>
    <div class="col-8 col-lg-11 mb-4">
      <ng-input-text inputSize="md" icon="search" [rtl]="fa" [placeholder]="'searchUserEmail' | translate"
                     (onKeyup)="filterGroupUsers($event)"></ng-input-text>
    </div>
    <div class="col-4 col-lg-1 mb-4">
      <ng-button iconPos="right" icon="icon-add_FILL1_wght400_GRAD0_opsz48" [full]="true" [label]="'add' | translate"
                 (click)="showAddUserModal()"></ng-button>
    </div>
    <div class="col-12">
      <ng-custom-table *ngIf="groupUsers" [rowData]="groupUsers.items" [config]="groupUsersConfig">
        <ng-template let-item>
          <tr>
            <td>{{item.first_name + ' ' + item.last_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.role.toLowerCase() | translate}}</td>
            <td>
              <ng-button class="mx-1" *ngIf="!item.editing" icon="icon-delete_FILL0_wght400_GRAD0_opsz48"
                         (click)="removeUser(item)" appearance="text" color="danger"></ng-button>
            </td>
          </tr>
        </ng-template>
      </ng-custom-table>
    </div>
  </div>
</div>



