:host ::ng-deep {

  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: right;
    white-space: nowrap;
  }

  tbody {
    > tr td:first-child {
      direction: ltr;
    }
  }

  .table-actions {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;

    a {
      cursor: pointer;
      margin-right: 1rem;
      color: #5643C1;
    }
  }

  .table-caption {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: flex-start;

    i {
      color: #5643C1;
      margin-left: 1rem;
    }


  }

  .table-search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    transition: all .4s;
    transform: translateX(-200%);
    opacity: 0;

    &.open {
      transform: translateX(0);
      opacity: 1;
    }

    button {
      transform: translateX(calc(100% + 1.25rem));

      span {
        vertical-align: text-bottom;
      }

      &:focus {
        outline: none;
        border: none;
      }
    }

    input {
      border: 0;
      flex-grow: 1;
      border-radius: 0;
      background-color: #dcdcdc;
      padding: 0.5rem 1.25rem;

      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  .p-datatable-footer {
    padding: 0 !important;
    border-bottom: 0
  }

  .p-paginator {
    direction: ltr;
  }
}
