<div class="poll">
  <div class="poll-header py-4">
    <div class="header-title">
      <i class="icon-chat mx-2"></i>
      <div>{{'room.poll' | translate }}</div>
    </div>
    <div class="d-flex align-items-center">
      <i class="icon-close mx-2" (click)="close()"></i>
    </div>
  </div>
  <div class="wrapper p-3">
    <ng-button *ngIf="currentState != 'archive'" (click)="goToState('archive')" class="mb-4" [full]="true"
               [label]="'room.pollsArchive' | translate"
               icon="pi pi-angle-left"></ng-button>
    <ng-button *ngIf="currentState == 'archive'" (click)="goBack()" class="mb-4" [full]="true"
               [label]="'goBack' | translate"
               icon="pi pi-angle-left"></ng-button>

    <form *ngIf="currentState == 'modify'" [formGroup]="form" class="form-row">
      <ng-single-checkbox class="col-12 mb-3" [label]="'room.showResultToUser' | translate" [rtl]="fa"
                          formControlName="publish_result"></ng-single-checkbox>
      <ng-single-checkbox class="col-12 mb-3" [label]="'room.allowMultipleChoice' | translate" [rtl]="fa"
                          formControlName="multiple_choice"></ng-single-checkbox>
      <ng-input-textarea [rtl]="fa" class="col-12 mb-3" [placeholder]="'room.enterYourQuestion' | translate"
                         formControlName="description"></ng-input-textarea>
      <ng-container formArrayName="options">
        <ng-container [formGroupName]="i" *ngFor="let item of $any(form.get('options')).controls;let i = index">
          <div class="d-flex align-items-center mb-3 col-12">
            <ng-input-text [rtl]="fa" [placeholder]="'room.enterYourOption' | translate" class="mx-2"
                           formControlName="description"></ng-input-text>
            <ng-button *ngIf="i > 1" color="danger" appearance="text" icon="pi pi-trash" (click)="deleteOption(i)"
                       size="sm"></ng-button>
          </div>
        </ng-container>
      </ng-container>

      <ng-button *ngIf="form.get('options').value.length < 5" iconPos="right" [full]="true" class="col-4 text-right"
                 appearance="text" icon="pi pi-plus"
                 (click)="addOption()"
                 size="sm"
                 [label]="'add' | translate"></ng-button>
      <div class="text-left mt-4 col-12">
        <ng-button-async [disabled]="form.invalid" iconPos="right" icon="pi pi-send" (clickAsync)="onSubmit($event)"
                         [label]="'room.publish' | translate"></ng-button-async>
      </div>
    </form>

    <div class="wrapper" *ngIf="currentState == 'archive'">
      <p-accordion *ngIf="archivePolls.length != 0" (onOpen)="getArchiveDetail($event)">
        <p-accordionTab transitionOptions="0ms" *ngFor="let p of archivePolls;let i = index"
                        [header]="p.description">
          <ng-template pTemplate="content">
            <ng-result-table [clickableRows]="false" [item]="p"></ng-result-table>
          </ng-template>
        </p-accordionTab>
      </p-accordion>
      <ng-empty *ngIf="archivePolls.length == 0" [message]="'nothingFound' | translate"></ng-empty>
    </div>

    <div class="wrapper" *ngIf="currentState == 'result' && activePoll">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <p class="mb-0">{{activePoll.description}}</p>
        <ng-button-async *ngIf="activePoll.state == 'InProgress'" class="mr-2" [rounded]="true" color="success"
                         newColor="success" appearance="text"
                         icon="pi pi-refresh"
                         (clickAsync)="updatePollResult($event)"></ng-button-async>
      </div>
      <ng-result-table [clickableRows]="false" [item]="activePoll"></ng-result-table>
      <div class="actions d-flex align-items-center justify-content-between mt-4">
        <ng-container *ngIf="activePoll.state == 'InProgress'">
          <ng-button color="danger" [label]="'room.revoke' | translate" appearance="outlined"
                     (click)="revokePoll()"></ng-button>
          <ng-button-async [label]="'room.endPoll' | translate"
                           (clickAsync)="changePollState('Finished',$event)"></ng-button-async>
        </ng-container>
      </div>
      <ng-container *ngIf="activePoll.state != 'InProgress'">
        <ng-button [full]="true" [label]="'room.restart' | translate"
                   (click)="goToState('modify')"></ng-button>
        <p class="mt-3 text-center"
           [ngClass]="{'text-success': activePoll.state == 'Finished','text-danger':activePoll.state == 'Canceled'}">
          {{'room.poll' + activePoll.state | translate}}
        </p>
      </ng-container>
    </div>
  </div>
</div>
