<div class="container-fluid h-100">
  <div class="row justify-content-center h-100 py-4">
    <div class="col-sm-10 col-md-9 col-lg-5 align-self-end">
      <div class="logo text-center">
        <ng-logo class="mb-4" width="100"></ng-logo>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-10 col-md-9 col-lg-5 align-self-end">
      <div class="process d-flex align-items-center justify-content-between">
        <div class="process-item"
             [ngClass]="{'current': step == 1,'passed':step == 2 || step == 3}">
          <div>{{'personalInfo' | translate}}</div>
        </div>
        <div class="process-item" [ngClass]="{'current': step == 2,'passed':step == 3}">
          <div>{{'selectUser' | translate}}</div>
        </div>
        <div class="process-item" [ngClass]="{'current': step == 3}">
          <div>{{'contactInfo' | translate}}</div>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-sm-10 col-md-9 col-lg-5">
      <div class="content p-3 p-sm-5">
        <h4 class="mb-5">{{'register' | translate}}</h4>
        <form class="form-row" [formGroup]="step1Form" *ngIf="step == 1">
          <ng-input-text [rtl]="fa" class="col-12 mb-5" [label]="'name' | translate"
                         formControlName="first_name"
                         [errors]="{'required':'requiredField' | translate}">
          </ng-input-text>
          <ng-input-text [rtl]="fa" class="col-12 mb-5" [label]="'lastName' | translate"
                         formControlName="last_name"
                         [errors]="{'required':'requiredField' | translate}">
          </ng-input-text>
          <div class="col-12 d-flex justify-content-between">
            <ng-button size="lg" (click)="goToStep(0)" color="secondary" appearance="outlined"
                       [label]="'goBack' | translate">
            </ng-button>
            <ng-button size="lg" [disabled]="step1Form.invalid"
                       [label]="'goNext' | translate" (onClick)="goToStep(2)">
            </ng-button>
          </div>
        </form>

        <form class="form-row" [formGroup]="step2Form" *ngIf="step == 2">
          <ng-input-password [rtl]="fa" class="col-12 mb-5" formControlName="password" [label]="'password' | translate"
                             [errors]="{'required':'requiredField'|translate}">
          </ng-input-password>
          <ng-input-password [rtl]="fa" class="col-12" formControlName="confirm_password"
                             [label]="'passwordRepeat' | translate"
                             [errors]="{'required':'requiredField'|translate}">
          </ng-input-password>
          <small class="p-error"
                 *ngIf="(step2Form.get('password').dirty && step2Form.get('confirm_password').dirty && step2Form.get('password').value && step2Form.get('confirm_password').value) && step2Form.hasError('notSame')">
            {{'passwordNotMatch' | translate}}
          </small>
          <div class="col-12 d-flex justify-content-between mt-5">
            <ng-button size="lg" (click)="goToStep(1)" color="secondary" appearance="outlined"
                       [label]="'goBack' | translate">
            </ng-button>
            <ng-button size="lg" [disabled]="step2Form.invalid"
                       [label]="'goNext' | translate" (onClick)="goToStep(3)">
            </ng-button>
          </div>
        </form>

        <form class="form-row" [formGroup]="step3Form" *ngIf="step == 3">
          <ng-input-text [rtl]="fa" class="col-12 mb-5" formControlName="phone_number" keyFilter="num"
                         maxlength="11"
                         [label]="'mobile' | translate"
                         [errors]="{'required':'requiredField'| translate,'minLength':'phoneLength' | translate,'pattern':'phonePattern' | translate}">
          </ng-input-text>

          <ng-input-text [rtl]="fa" class="col-12 mb-5" formControlName="email" [label]="'email' | translate"
                         [errors]="{'required':'requiredField'| translate,'email':'emailPattern' | translate}">
          </ng-input-text>
          <div class="col-12 d-flex justify-content-between">
            <ng-button size="lg" (click)="goToStep(2)" color="secondary" appearance="outlined"
                       [label]="'goBack' | translate">
            </ng-button>
            <ng-button-async size="lg" [disabled]="step3Form.invalid" type="submit"
                             [label]="'register' | translate" (clickAsync)="onSubmit($event)">
            </ng-button-async>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
