<section class="wrapper" #presentation>

  <div class="controls border shadow">
    <ng-button icon="pi pi-times" color="secondary" (click)="closePresentation()"></ng-button>
    <ng-button icon="pi pi-download" (click)="saveAsImage()"></ng-button>
    <ng-button appearance="outlined" icon="icon-fullscreen" (click)="toggleFullScreen(presentation)"></ng-button>
    <ng-button [rounded]="true" appearance="outlined" pTooltip="Text Size" tooltipPosition="right"
               icon="pi pi-sort-alpha-down" (click)="showOptionOverlay('textSizes',$event)"
               *ngIf="selectedTool == 'text'">
    </ng-button>
    <ng-button [rounded]="true" appearance="outlined" pTooltip="Thickness"
               tooltipPosition="right"
               icon="pi pi-nothing" (click)="showOptionOverlay('thicknesses',$event)"
               *ngIf="selectedTool != 'select' && selectedTool != 'eraser' && selectedTool != 'text'">
      <ng-template ngTemplate="content">
        <div [style.width.px]="selectedOption.thickness*2"
             [style.height.px]="selectedOption.thickness*2"
             [ngStyle]="{backgroundColor:'black',borderRadius:'50%'}">
        </div>
      </ng-template>
    </ng-button>

    <ng-button appearance="text" pTooltip="Color Palette" tooltipPosition="right"
               icon="pi pi-nothing" (click)="showOptionOverlay('colors',$event)"
               [style.backgroundColor]="selectedOption.color"
               *ngIf="selectedTool != 'select' && selectedTool != 'eraser'">
    </ng-button>

    <ng-button [rounded]="true" appearance="outlined" (click)="showOptionOverlay('tools',$event)" pTooltip="Tools"
               tooltipPosition="right" [icon]="'pi pi-'+selectedTool">
    </ng-button>

    <ng-button [rounded]="true" [appearance]="selectedTool == 'eraser' ? 'basic' : 'outlined'"
               [color]="selectedTool == 'eraser' ? 'primary' : null"
               (click)="onSelectTool('eraser')" pTooltip="Eraser" tooltipPosition="right" icon="pi pi-print">
    </ng-button>

    <ng-button [rounded]="true" [appearance]="selectedTool == 'select' ? 'basic' : 'outlined'"
               [color]="selectedTool == 'select' ? 'primary' : null"
               (click)="onSelectTool('select')" pTooltip="Select" tooltipPosition="right" icon="pi pi-arrow-up-left">
    </ng-button>

    <ng-button [rounded]="true" appearance="outlined" pTooltip="Image" tooltipPosition="right"
               icon="pi pi-images" (click)="file.click()">
      <input type="file" #file (change)="onSelectImage($event)" accept="image" class="hidden"/>
    </ng-button>

    <ng-button [rounded]="true" appearance="outlined" (click)="undo()" pTooltip="Undo" tooltipPosition="right"
               icon="pi pi-arrow-left">
    </ng-button>

    <ng-button [rounded]="true" appearance="outlined" (click)="clearBoard()" pTooltip="Clear"
               tooltipPosition="right" icon="pi pi-trash">
    </ng-button>
  </div>

  <div class="konva-wrapper"></div>

  <div class="whiteboard-footer d-flex justify-content-center align-items-center bg-light border-top py-4" dir="ltr">
    <span class="p-buttonset">
    <ng-button (click)="prevSlide()" label="Prev" icon="pi pi-chevron-left"
               [disabled]="currentSlide == 0"></ng-button>
    <ng-button color="secondary" label="{{currentSlide + 1}}/{{slidesCount}}" [disabled]="true"></ng-button>
    <ng-button (click)="nextSlide()" label="Next" icon="pi pi-chevron-right"
               [disabled]="currentSlide == slidesCount-1"></ng-button>
  </span>
  </div>
</section>


<p-overlayPanel>
  <ng-template pTemplate>
    <ul class="list-unstyled p-0 m-0 d-flex" *ngIf="overlayMode == 'tools'">
      <li>
        <ng-button icon="pi pi-pencil" [rounded]="true"
                   [appearance]="selectedTool == 'brush' ? 'basic' : 'outlined'"
                   [color]="selectedTool == 'brush' ? 'primary' : 'secondary'"
                   pTooltip="Brush"
                   tooltipPosition="bottom"
                   (click)="onSelectTool('brush')">
        </ng-button>
      </li>
      <li class="mr-2">
        <ng-button icon="pi pi-tablet" [rounded]="true"
                   [appearance]="selectedTool == 'rectangle' ? 'basic' : 'outlined'"
                   [color]="selectedTool == 'rectangle' ? 'primary' : 'secondary'"
                   pTooltip="Rectangle"
                   tooltipPosition="bottom"
                   (click)="onSelectTool('rectangle')">
        </ng-button>
      </li>
      <li class="mr-2">
        <ng-button icon="pi pi-caret-up" [rounded]="true"
                   [appearance]="selectedTool == 'triangle' ? 'basic' : 'outlined'"
                   [color]="selectedTool == 'triangle' ? 'primary' : 'secondary'"
                   pTooltip="Triangle"
                   tooltipPosition="bottom"
                   (click)="onSelectTool('triangle')">
        </ng-button>
      </li>
      <li class="mr-2">
        <ng-button icon="pi pi-circle-off" [rounded]="true"
                   [appearance]="selectedTool == 'circle' ? 'basic' : 'outlined'"
                   [color]="selectedTool == 'circle' ? 'primary' : 'secondary'"
                   pTooltip="Circle"
                   tooltipPosition="bottom"
                   (click)="onSelectTool('circle')">
        </ng-button>
      </li>
      <li class="mr-2">
        <ng-button icon="pi pi-minus" [rounded]="true"
                   [appearance]="selectedTool == 'line' ? 'basic' : 'outlined'"
                   [color]="selectedTool == 'line' ? 'primary' : 'secondary'"
                   pTooltip="Line"
                   tooltipPosition="bottom"
                   (click)="onSelectTool('line')">
        </ng-button>
      </li>
      <li class="mr-2">
        <ng-button icon="pi pi-amazon" [rounded]="true"
                   [appearance]="selectedTool == 'text' ? 'basic' : 'outlined'"
                   [color]="selectedTool == 'text' ? 'primary' : 'secondary'"
                   pTooltip="Text"
                   tooltipPosition="bottom"
                   (click)="onSelectTool('text')">
        </ng-button>
      </li>
    </ul>

    <ul class="list-unstyled p-0 m-0 d-flex" *ngIf="overlayMode == 'textSizes'">
      <li *ngFor="let s of availableTextSizes;let first=first" [class.mr-2]="!first">
        <ng-button icon="p"
                   [rounded]="true" [appearance]="selectedOption.textSize == s ? 'basic' : 'outlined'"
                   [color]="selectedOption.textSize == s ? 'primary' : null"
                   (click)="onSelectTextSize(s)" [pTooltip]="s.toString()" tooltipPosition="bottom">
          <ng-template ngTemplate="content">
            <i class="pi pi-google" [ngStyle]="{fontSize:(s-5)+'px'}"></i>
          </ng-template>
        </ng-button>
      </li>
    </ul>

    <ul class="list-unstyled p-0 m-0 d-flex" *ngIf="overlayMode == 'thicknesses'">
      <li *ngFor="let s of availableThickness;let first=first" [class.mr-2]="!first">
        <ng-button icon="pi pi-nothing"
                   [rounded]="true" [appearance]="selectedOption.thickness == s ? 'basic' : 'outlined'"
                   [color]="selectedOption.thickness == s ? 'primary' : 'secondary'"
                   class="shadow-sm"
                   (click)="onSelectThickness(s)" [pTooltip]="s.toString()" tooltipPosition="bottom">
          <ng-template ngTemplate="content">
            <div [style.width.px]="s*2" [style.height.px]="s*2"
                 [ngStyle]="{backgroundColor:'black',borderRadius:'50%'}">
            </div>
          </ng-template>
        </ng-button>
      </li>
    </ul>

    <ul class="list-unstyled p-0 m-0 d-flex" *ngIf="overlayMode == 'colors'">
      <li *ngFor="let c of availableColors;let first=first" [class.mr-2]="!first">
        <ng-button icon="pi pi-nothing"
                   [style.backgroundColor]="c"
                   [rounded]="selectedOption.color != c"
                   [class.rounded-circle]="selectedOption.color != c"
                   appearance="text"
                   (click)="onSelectColor(c)"></ng-button>
      </li>
    </ul>
  </ng-template>
</p-overlayPanel>
