<div class="controls">
  <ng-button *ngPermission="'Admin'" class="mb-3" icon="pi pi-times" color="secondary" (click)="close()"></ng-button>
  <ng-button *ngPermission="'Viewer'" class="mb-3" icon="icon-fullscreen" appearance="outlined"
             (click)="toggleFullScreen(whiteboard)"></ng-button>
  <ng-button class="mb-3" icon="pi pi-download" (click)="saveAsImage()"></ng-button>
  <div class="tools" *ngIf="hasPermission">
    <ng-button icon="pi pi-sort-alpha-down" [rounded]="true" appearance="outlined" pTooltip="Text Size"
               tooltipPosition="right"
               (click)="showOptionOverlay('textSizes',$event)"
               *ngIf="selectedTool == 'text'">
    </ng-button>
    <ng-button [rounded]="true" appearance="outlined" pTooltip="Thickness"
               tooltipPosition="right"
               icon="pi pi-nothing" (click)="showOptionOverlay('thicknesses',$event)"
               *ngIf="selectedTool != 'select' && selectedTool != 'eraser' && selectedTool != 'text'">
      <ng-template ngTemplate="content">
        <div [style.width.px]="selectedOption.thickness*2"
             [style.height.px]="selectedOption.thickness*2"
             [ngStyle]="{backgroundColor:'black',borderRadius:'50%'}">
        </div>
      </ng-template>
    </ng-button>

    <ng-button appearance="text" pTooltip="Color Palette" tooltipPosition="right"
               icon="pi pi-nothing" (click)="showOptionOverlay('colors',$event)"
               [style.backgroundColor]="selectedOption.color"
               *ngIf="selectedTool != 'select' && selectedTool != 'eraser'">
    </ng-button>

    <ng-button [rounded]="true" appearance="outlined" (click)="showOptionOverlay('tools',$event)" pTooltip="Tools"
               tooltipPosition="right" [icon]="getActiveToolIcon()">
    </ng-button>

    <ng-button icon="icon-fi-rr-undo" [rounded]="true" appearance="outlined" (click)="undo()" pTooltip="Undo"
               tooltipPosition="right">
    </ng-button>

    <ng-button [rounded]="true" appearance="outlined" (click)="clearBoard()" pTooltip="Clear"
               tooltipPosition="right" icon="icon-fi-rr-broom">
    </ng-button>
  </div>
</div>

<section class="wrapper" #whiteboard>
  <div class="konva-wrapper"></div>
</section>

<div class="whiteboard-footer d-flex justify-content-center align-items-center">
  <div class="d-flex justify-content-center align-items-center ml-2 page-control">
    <ng-button-async *ngPermission="'Admin'" (clickAsync)="nextPage($event)" icon="pi pi-chevron-right"
                     [disabled]="disableNextBtn"></ng-button-async>
    <ng-button color="secondary" label="{{currentSlide}}/{{slidesCount}}" [disabled]="true"></ng-button>
    <ng-button-async *ngPermission="'Admin'" (clickAsync)="prevPage($event)" icon="pi pi-chevron-left"
                     [disabled]="disablePrevBtn"></ng-button-async>
  </div>
  <ng-button *ngPermission="'Admin'" [pTooltip]="'room.whiteboardPermission' | translate"
             tooltipPosition="top"
             icon="icon-fi-rr-line-width" color="secondary"
             (click)="setPermissionForUser()"></ng-button>
</div>

<p-overlayPanel>
  <ng-template pTemplate>
    <ul class="list-unstyled p-0 m-0 d-flex" *ngIf="whiteboardOverlayMode == 'tools'">
      <li>
        <ng-button icon="icon-fi-rr-pencil" [rounded]="true"
                   [appearance]="selectedTool == 'brush' ? 'basic' : 'outlined'"
                   [color]="selectedTool == 'brush' ? 'primary' : 'secondary'"
                   pTooltip="Brush"
                   tooltipPosition="bottom"
                   (click)="onSelectTool('brush')">
        </ng-button>
      </li>
      <li class="mr-2">
        <ng-button icon="icon-fi-rr-rectangle-horizontal" [rounded]="true"
                   [appearance]="selectedTool == 'rectangle' ? 'basic' : 'outlined'"
                   [color]="selectedTool == 'rectangle' ? 'primary' : 'secondary'"
                   pTooltip="Rectangle"
                   tooltipPosition="bottom"
                   (click)="onSelectTool('rectangle')">
        </ng-button>
      </li>
      <li class="mr-2">
        <ng-button icon="icon-fi-rr-pyramid" [rounded]="true"
                   [appearance]="selectedTool == 'triangle' ? 'basic' : 'outlined'"
                   [color]="selectedTool == 'triangle' ? 'primary' : 'secondary'"
                   pTooltip="Triangle"
                   tooltipPosition="bottom"
                   (click)="onSelectTool('triangle')">
        </ng-button>
      </li>
      <li class="mr-2">
        <ng-button icon="icon-fi-rr-rec" [rounded]="true"
                   [appearance]="selectedTool == 'circle' ? 'basic' : 'outlined'"
                   [color]="selectedTool == 'circle' ? 'primary' : 'secondary'"
                   pTooltip="Circle"
                   tooltipPosition="bottom"
                   (click)="onSelectTool('circle')">
        </ng-button>
      </li>
      <li class="mr-2">
        <ng-button icon="icon-fi-rr-minus" [rounded]="true"
                   [appearance]="selectedTool == 'line' ? 'basic' : 'outlined'"
                   [color]="selectedTool == 'line' ? 'primary' : 'secondary'"
                   pTooltip="Line"
                   tooltipPosition="bottom"
                   (click)="onSelectTool('line')">
        </ng-button>
      </li>
      <li class="mr-2">
        <ng-button icon="icon-fi-rr-text" [rounded]="true"
                   [appearance]="selectedTool == 'text' ? 'basic' : 'outlined'"
                   [color]="selectedTool == 'text' ? 'primary' : 'secondary'"
                   pTooltip="Text"
                   tooltipPosition="bottom"
                   (click)="onSelectTool('text')">
        </ng-button>
      </li>
      <li class="mr-2">
        <ng-button icon="icon-erase" [rounded]="true" [appearance]="selectedTool == 'eraser' ? 'basic' : 'outlined'"
                   [color]="selectedTool == 'eraser' ? 'primary' : 'secondary'"
                   (click)="onSelectTool('eraser')" pTooltip="Eraser" tooltipPosition="right">
        </ng-button>
      </li>
      <li class="mr-2">
        <ng-button icon="icon-fi-rr-cursor" [rounded]="true"
                   [appearance]="selectedTool == 'select' ? 'basic' : 'outlined'"
                   [color]="selectedTool == 'select' ? 'primary' : 'secondary'"
                   (click)="onSelectTool('select')" pTooltip="Select" tooltipPosition="right">
        </ng-button>
      </li>
    </ul>

    <ul class="list-unstyled p-0 m-0 d-flex" *ngIf="whiteboardOverlayMode == 'textSizes'">
      <li *ngFor="let s of availableTextSizes;let first=first" [class.mr-2]="!first">
        <ng-button icon="pi pi-nothing"
                   [rounded]="true" [appearance]="selectedOption.textSize == s ? 'basic' : 'outlined'"
                   [color]="selectedOption.textSize == s ? 'primary' : null"
                   (click)="onSelectTextSize(s)" [pTooltip]="s.toString()" tooltipPosition="bottom">
          <ng-template ngTemplate="content">
            <i class="pi pi-google" [ngStyle]="{fontSize:(s-5)+'px'}"></i>
          </ng-template>
        </ng-button>
      </li>
    </ul>

    <ul class="list-unstyled p-0 m-0 d-flex" *ngIf="whiteboardOverlayMode == 'thicknesses'">
      <li *ngFor="let s of availableThickness;let first=first" [class.mr-2]="!first">
        <ng-button icon="pi pi-nothing"
                   [rounded]="true" [appearance]="selectedOption.thickness == s ? 'basic' : 'outlined'"
                   [color]="selectedOption.thickness == s ? 'primary' : 'secondary'"
                   class="shadow-sm"
                   (click)="onSelectThickness(s)" [pTooltip]="s.toString()" tooltipPosition="bottom">
          <ng-template ngTemplate="content">
            <div [style.width.px]="s*2" [style.height.px]="s*2"
                 [ngStyle]="{backgroundColor:'black',borderRadius:'50%'}">
            </div>
          </ng-template>
        </ng-button>
      </li>
    </ul>

    <ul class="list-unstyled p-0 m-0 d-flex" *ngIf="whiteboardOverlayMode == 'colors'">
      <li *ngFor="let c of availableColors;let first=first" [class.mr-2]="!first">
        <ng-button icon="pi pi-nothing"
                   [style.backgroundColor]="c"
                   [rounded]="selectedOption.color != c"
                   [class.rounded-circle]="selectedOption.color != c"
                   appearance="text"
                   (click)="onSelectColor(c)"></ng-button>
      </li>
    </ul>
  </ng-template>
</p-overlayPanel>
