<section class="wrapper">
  <button class="menu-button" pButton icon="pi pi-ellipsis-h" (click)="menu.toggle($event)"></button>

  <p-menu [model]="menuItems" [popup]="true" #menu></p-menu>

  <div class="controls border shadow">
    <p-button styleClass="p-button-rounded p-button-outlined" pTooltip="Text Size" tooltipPosition="right"
              icon="pi pi-sort-alpha-down" (click)="showOverlay('textSizes',$event)"
              *ngIf="selectedTool == 'text'">
    </p-button>

    <p-button styleClass="p-button-rounded p-button-outlined" pTooltip="Thickness" tooltipPosition="right"
              icon="pi pi-color" (click)="showOverlay('thicknesses',$event)"
              *ngIf="selectedTool != 'select' && selectedTool != 'eraser' && selectedTool != 'text'">
      <ng-template pTemplate="content">
        <div [style.width.px]="selectedOption.thickness*2"
             [style.height.px]="selectedOption.thickness*2"
             [ngStyle]="{backgroundColor:'black',borderRadius:'50%'}">
        </div>
      </ng-template>
    </p-button>

    <button pButton class="p-button-rounded p-button-outlined" pTooltip="Color Palette" tooltipPosition="right"
            icon="pi pi-color" [style.backgroundColor]="selectedOption.color" (click)="showOverlay('colors',$event)"
            *ngIf="selectedTool != 'select' && selectedTool != 'eraser'">
    </button>

    <button pButton class="p-button-rounded p-button-outlined" (click)="showOverlay('tools',$event)" pTooltip="Tools"
            tooltipPosition="right" [icon]="'pi pi-'+selectedTool">
    </button>

    <button pButton class="p-button-rounded p-button-outlined" [ngClass]="selectedTool == 'eraser' ? 'bg-primary':''"
            (click)="onSelectTool('eraser')" pTooltip="Eraser" tooltipPosition="right" icon="pi pi-print">
    </button>

    <button pButton class="p-button-rounded p-button-outlined" [ngClass]="selectedTool == 'select' ? 'bg-primary':''"
            (click)="onSelectTool('select')" pTooltip="Select" tooltipPosition="right" icon="pi pi-arrow-up-left">
    </button>

    <button pButton class="p-button-rounded p-button-outlined" pTooltip="Image" tooltipPosition="right"
            icon="pi pi-images" (click)="file.click()">
      <input type="file" #file (change)="onSelectImage($event)" accept="image" class="hidden"/>
    </button>

    <hr class="hr_divider"/>

    <button pButton class="p-button-rounded p-button-outlined" (click)="undo()" pTooltip="Undo" tooltipPosition="right"
            icon="pi pi-arrow-left">
    </button>

    <button pButton class="p-button-rounded p-button-outlined" (click)="clearBoard()" pTooltip="Clear"
            tooltipPosition="right" icon="pi pi-trash">
    </button>
  </div>

  <div class="konva-wrapper"></div>
  <div class="whiteboard-footer d-flex justify-content-center align-items-center bg-light border-top py-4">
    <span class="p-buttonset">
    <button pButton (click)="prevSlide()" label="Prev" icon="pi pi-chevron-left"
            [disabled]="currentSlide == 0"></button>
    <button pButton class="p-button-secondary" label="{{currentSlide + 1}}/{{slidesCount}}" disabled></button>
    <button pButton (click)="nextSlide()" label="Next" icon="pi pi-chevron-right"
            [disabled]="currentSlide == slidesCount-1"></button>
  </span>
  </div>
</section>


<p-overlayPanel>
  <ng-template pTemplate>
    <ul class="list-unstyled p-0 m-0 d-flex" *ngIf="overlayMode == 'tools'">
      <li>
        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-outlined shadow-sm border mr-1"
                [class.bg-primary]="selectedTool == 'brush'" pTooltip="Brush" tooltipPosition="bottom"
                (click)="onSelectTool('brush')">
        </button>
      </li>
      <li>
        <button pButton icon="pi pi-tablet" class="p-button-rounded p-button-outlined shadow-sm border mr-1"
                [class.bg-primary]="selectedTool == 'rectangle'" pTooltip="Rectangle" tooltipPosition="bottom"
                (click)="onSelectTool('rectangle')">
        </button>
      </li>
      <li>
        <button pButton icon="pi pi-caret-up" class="p-button-rounded p-button-outlined shadow-sm border mr-1"
                [class.bg-primary]="selectedTool == 'triangle'" pTooltip="Triangle" tooltipPosition="bottom"
                (click)="onSelectTool('triangle')">
        </button>
      </li>
      <li>
        <button pButton icon="pi pi-circle-off" class="p-button-rounded p-button-outlined shadow-sm border mr-1"
                [class.bg-primary]="selectedTool == 'circle'" pTooltip="Circle" tooltipPosition="bottom"
                (click)="onSelectTool('circle')">
        </button>
      </li>
      <li>
        <button pButton icon="pi pi-minus" class="p-button-rounded p-button-outlined shadow-sm border mr-1"
                [class.bg-primary]="selectedTool == 'line'" pTooltip="Line" tooltipPosition="bottom"
                (click)="onSelectTool('line')">
        </button>
      </li>
      <li>
        <button pButton icon="pi pi-amazon" class="p-button-rounded p-button-outlined shadow-sm border mr-1"
                [class.bg-primary]="selectedTool == 'text'" pTooltip="Text" tooltipPosition="bottom"
                (click)="onSelectTool('text')">
        </button>
      </li>
    </ul>

    <ul class="list-unstyled p-0 m-0 d-flex" *ngIf="overlayMode == 'textSizes'">
      <li *ngFor="let s of availableTextSizes;let last=last">
        <p-button icon="p" [class.mr-1]="!last"
                  styleClass="p-button-rounded p-button-outlined shadow-sm border {{selectedOption.textSize == s ? 'bg-primary text-white' : ''}}"
                  (click)="onSelectTextSize(s)" [pTooltip]="s.toString()" tooltipPosition="bottom">
          <ng-template pTemplate="content">
            <i class="pi pi-google" [ngStyle]="{fontSize:(s-5)+'px'}"></i>
          </ng-template>
        </p-button>
      </li>
    </ul>

    <ul class="list-unstyled p-0 m-0 d-flex" *ngIf="overlayMode == 'thicknesses'">
      <li *ngFor="let s of availableThickness;let last=last">
        <p-button icon="s" [class.mr-1]="!last"
                  styleClass="p-button-rounded p-button-outlined shadow-sm border {{selectedOption.thickness == s ? 'bg-primary' : ''}}"
                  (click)="onSelectThickness(s)" [pTooltip]="s.toString()" tooltipPosition="bottom">
          <ng-template pTemplate=" content">
            <div [style.width.px]="s*2" [style.height.px]="s*2"
                 [ngStyle]="{backgroundColor:'black',borderRadius:'50%'}">
            </div>
          </ng-template>
        </p-button>
      </li>
    </ul>

    <ul class="list-unstyled p-0 m-0 d-flex" *ngIf="overlayMode == 'colors'">
      <li *ngFor="let c of availableColors;let last=last">
        <button icon="c" [style.backgroundColor]="c" [style.borderColor]="c" [class.mr-1]="!last"
                [ngClass]="{'rounded-0' : selectedOption.color == c}"
                class="p-button-rounded p-button-outlined shadow-sm border" pButton (click)="onSelectColor(c)"></button>
      </li>
    </ul>
  </ng-template>
</p-overlayPanel>
