<div class="wrapper">
  <ng-button class="mb-3" icon="pi pi-plus" [full]="true" (onClick)="uploader.click()"
             [label]="'chooseImage' | translate"></ng-button>
  <div class="image-placeholder" *ngIf="!imageChangedEvent && !imageURL">
    <i class="pi pi-camera display-3"></i>
    <small class="text-muted d-block">{{'noFileSelected' | translate}}</small>
  </div>
  <div class="border">
    <image-cropper
      *ngIf="imageChangedEvent || imageURL"
      [imageChangedEvent]="imageChangedEvent"
      [imageURL]="imageURL"
      [maintainAspectRatio]="false"
      (imageCropped)="imageCropped($event)"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </div>
  <div class="d-flex mt-3 align-items-center justify-content-between">
    <ng-button (onClick)="onDelete()" *ngIf="imageURL" appearance="outlined" color="danger"
               [label]="'deleteAvatar' | translate">
    </ng-button>
    <ng-button class="mr-auto d-block" (onClick)="onSubmit()" [label]="'submit' | translate"
               [disabled]="!imageChangedEvent && !imageURL">
    </ng-button>
  </div>
  <input
    class="p-sr-only"
    #uploader
    (change)="onSelect($event)"
    onclick="this.value = null"
    accept="image/jpeg, image/png"
    type="file"
  />
</div>
