@import "mixins";

:host ::ng-deep {
  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: right;
    white-space: nowrap;
  }

  tbody {
    > tr td:first-child {
      direction: ltr;
    }
  }

  .table-caption {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: flex-start;
    order: 1;

    i {
      color: #5643C1;
      margin-left: 1rem;
    }
  }

  .table-actions {
    display: flex;
    align-items: center;
    overflow: hidden;
    order: 4;

    a {
      cursor: pointer;
      margin-right: 1rem;
      color: #5643C1;
    }
  }

  .table-search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    transition: all .4s;
    transform: translateY(-400%);
    order: 2;
    margin-right: 1rem;

    &.open {
      transform: translateY(0);
    }

    button {
      transform: translateX(calc(100% + 1.25rem));

      span {
        vertical-align: text-bottom;
      }

      &:focus {
        outline: none;
        border: none;
      }
    }

    input {
      border: 0;
      flex-grow: 1;
      border-radius: 8px;
      background-color: #dcdcdc;
      padding: 0.5rem 1.25rem;
      width: 0;

      &:focus {
        outline: none;
        border: none;
      }
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      order: 5;
      margin-right: 0;
    }
  }

  .p-datatable-footer {
    padding: 0 !important;
    border-bottom: 0
  }

  .p-paginator {
    direction: ltr;
  }
}
