<div class="table-responsive">
  <div class="d-flex align-items-center justify-content-between py-3 px-2 bg-light flex-column flex-sm-row"
       *ngIf="showCaption">
    <div class="table-caption mb-3 mb-sm-0">
      <i [class]="captionIcon"></i>
      <h5 class="mb-0">{{captionText | translate}}</h5>
    </div>
    <div class="table-actions">
      <a tooltipPosition="bottom" [pTooltip]="'search' | translate" (click)="toggleSearch()">
        <i class="icon-search"></i>
      </a>
      <a tooltipPosition="bottom" [pTooltip]="'refresh' | translate"
         (click)="dataTable.reset();onActionClick('onReload')">
        <i class="icon-refresh"></i>
      </a>
      <a *ngPanelPermission="'Owner'" tooltipPosition="bottom" [pTooltip]="'add' | translate"
         (click)="onActionClick('onAdd')">
        <i class="icon-add"></i>
      </a>
    </div>
    <div class="table-search">
      <input type="text" (keydown.enter)="onSearch()" [(ngModel)]="searchTerm"
             [placeholder]="'search' | translate">
      <button class="close" (click)="toggleSearch()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <p-table [value]="rowData" responsiveLayout="scroll" [rowHover]="true" (onSort)="sortColumn($event)"
           styleClass="p-datatable-{{size}}"
           #dataTable>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let item of config?.colDef" [pSortableColumn]="item.sortField">
          {{ item.header | translate }}
          <p-sortIcon *ngIf="item.sortField" [field]="item.sortField"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <ng-container
        [ngTemplateOutlet]="tableBody"
        [ngTemplateOutletContext]="{ $implicit: item,rowIndex:rowIndex }">
      </ng-container>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" [attr.colspan]="config.colDef.length">
          <ng-empty [message]="'nothingFound' | translate"></ng-empty>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <p-paginator [rows]="10" (onPageChange)="onPageChange($event)" *ngIf="config?.total"
                   [totalRecords]="config.total"></p-paginator>
    </ng-template>
  </p-table>
</div>
