:host ::ng-deep {
  p-table {
    tr, td, th {
      text-align: right !important;
      background-color: transparent !important;
      border-color: transparent !important;
      cursor: default;
    }

    &:not(.read-only) {
      .p-datatable-wrapper {
        border-radius: 8px;
        border: 1px solid #6d6d6d;
      }

      tr, td, th {
        color: #ffffff;
      }

      tr {
        &:hover {
          td {
            background-color: #6d6d6d !important;
            cursor: pointer;
          }
        }
      }
    }
  }
}
