@import "./fonts/fonts.scss";
@import "./vendor/bootstrap.scss";

html,
body {
  height: 100%;
  font-family: IRANSans;
  background-color: var(--surface-a);
  color: var(--text-color);
  font-size: 14px;

  .p-component,
  .p-inputtext {
    font-family: IRANSans;

    [class|="p-"]:not([class*="pi"]):not([class*="fa"]):not([class*="ql"]) {
      font-family: inherit;
    }
  }

  &.ng-rtl {
    .p-contextmenu, .p-menu {
      .p-menuitem-icon {
        margin-right: 0;
        margin-left: 0.5rem;
      }
    }
  }

  .p-scrolltop {
    right: auto;
    left: 20px;
  }

  .p-overlaypanel {
    border-radius: 8px;

    &:not(.question-report) {
      &:before {
        display: none;
      }

      &:not(.p-overlaypanel-flipped) {
        &:after {
          border-bottom-color: #5F6069 !important;
        }
      }

      &.p-overlaypanel-flipped {
        &:after {
          border-top-color: #5F6069 !important;
        }
      }

      .p-overlaypanel-content {
        overflow: hidden;
        border-radius: 8px;
        background-color: #5F6069;
        color: #ffffff;
        font-size: 14px;
      }

      &.actions {
        .p-overlaypanel-content {
          padding: 0;
        }

        ul {
          li {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0.75rem 1rem;;
            transition: all .4s;

            i {
              margin: 0 0.5rem
            }

            &:hover, &.active {
              background-color: #848484;
            }
          }
        }
      }

      &.session-info {
        .room-info {
          padding-bottom: 1rem;
          margin-bottom: 1rem;
        }

        .session-link {
          i {
            cursor: pointer;
          }
        }
      }
    }
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #949494;

    &:hover {
      background-color: rgb(114, 114, 114);
    }
  }

  .cdk-overlay-container {
    z-index: 800000
  }
}
