<div class="h-100" [ngSwitch]="state" [ngClass]="{'d-flex flex-column': state == 'chat'}">
  <ng-container *ngSwitchCase="'chatList'">
    <div class="h-100 d-flex flex-column p-3">
      <div class="flex-grow-1" [ngClass]="{'d-flex align-items-center': privateChats.length == 0}">
        <ng-private-chat-item *ngFor="let pvItem of privateChats"
                              [pvItem]="pvItem"
                              (click)="onPrivateChatClick(pvItem)">
        </ng-private-chat-item>
        <ng-empty [message]="'nothingFound' | translate" *ngIf="privateChats.length == 0"></ng-empty>
      </div>

      <ng-button *ngIf="enableChat" icon="pi pi-plus" [full]="true"
                 [label]="'room.startNewConversation' | translate"
                 (click)="setState('contacts')"></ng-button>
    </div>
  </ng-container>

  <ng-contacts *ngSwitchCase="'contacts'" [contacts]="contacts"
               (goBack)="setState('chatList')" (selectContact)="onSelectContact($event)">
  </ng-contacts>

  <ng-container *ngSwitchCase="'chat'">
    <ng-button class="mb-3" icon="pi pi-chevron-right" [full]="true" iconPos="right"
               [label]="peerUser.first_name + ' ' + peerUser.last_name"
               (click)="setState('chatList')"></ng-button>
    <ng-messenger type="private"></ng-messenger>
  </ng-container>
</div>
