@import "mixins";

@mixin restoreFullAspectRatio() {
  // reset default style (16:9 ratio) for ng-screen component in main-area
  height: 100%;

  .screen-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

:host ::ng-deep {
  .thumbnail-view {
    height: calc(100vh - 140px);

    .participants, .main-area {
      padding: 1rem 0.5rem;
    }

    .participants {
      width: 300px;

      ng-screen:not(:last-child) {
        margin-bottom: 1rem
      }
    }

    .main-area {
      position: relative;
      touch-action: auto !important;

      ng-canvas-whiteboard {
        height: 100%;
      }

      ng-screen {
        @include restoreFullAspectRatio();

        &[position="mainThumbPosition"] {
          position: relative;

          &.screen-hided {
            .screen-wrapper {
              display: none;
            }
          }

          .screen-toggler {
            > ng-button, > span {
              display: none;
            }

            > ng-button {
              position: absolute;
              top: 0.5rem;
              left: 0.5rem;
              z-index: 200;

              button {
                width: 2rem;
                padding: 0.25rem 0;
              }
            }

            > span {
              text-align: center;
              background: #40414A80;
              border-radius: 4px;
              cursor: pointer;
            }
          }
        }

        &.teacher-screen-shared + .teacher-webcam-shared {
          position: absolute;
          width: 170px;
          height: auto;
          right: 1rem;
          bottom: 1rem;

          .screen-wrapper {
            padding-bottom: 56.25%;
          }

          &:not(.screen-hided) {
            .screen-toggler {
              > ng-button {
                display: block;
              }

              > span {
                display: none;
              }
            }
          }

          &.screen-hided {
            .screen-toggler {
              > ng-button {
                display: none;
              }

              > span {
                display: block;
              }
            }
          }
        }

        &.teacher-webcam-shared,
        &.teacher-screen-shared, {
          ~ .no-stream {
            display: none
          }
        }
      }

      ng-canvas-whiteboard.open-presentation {

        ~ .teacher-webcam-shared {
          position: absolute;
          width: 170px;
          height: auto;
          right: 1rem;
          bottom: 1rem;

          .screen-wrapper {
            padding-bottom: 56.25%;
          }

          &:not(.screen-hided) {
            .screen-toggler {
              > ng-button {
                display: block;
              }

              > span {
                display: none;
              }
            }
          }

          &.screen-hided {
            .screen-toggler {
              > ng-button {
                display: none;
              }

              > span {
                display: block;
              }
            }
          }
        }

        ~ .no-stream {
          display: none
        }
      }
    }

    @include media-breakpoint-down(lg) {
      height: 100%;

      ng-screen:not(:last-child) {
        margin-bottom: 2rem !important;
      }

      .main-area {
        min-height: 50vh;
      }

      .participants {
        width: 100%;
        display: grid;
        padding: 1rem;
        grid-gap: 1rem;
        grid-auto-flow: row;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      }
    }
  }
}
