@import "mixins";

@mixin restoreFullAspectRatio() {
  // reset default style (16:9 ratio) for ng-screen component in main-area
  height: 100%;

  .screen-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

:host ::ng-deep {
  .thumbnail-view {
    height: calc(100vh - 140px);
    position: relative;

    .participants,
    .main-area {
      padding: 1rem;
      transition: all .4s;
      max-width: 100%;
    }

    .participants {
      min-width: $participantsWidth;
      position: absolute;
      right: -#{$participantsWidth};
      top: 0;
      height: 100%;
      background-color: #35363D;
      transition: all .4s;
      border-left: 1px solid #545454;
      overflow-y: auto;
      z-index: -2;

      ng-screen:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    .main-area {
      touch-action: auto !important;
      margin-right: 0;
      position: relative;
      width: 100%;

      ng-screen {
        @include restoreFullAspectRatio();

        .btn-toggler {
          display: none;
        }

        &.teacher-screen-shared + .teacher-webcam-shared {
          position: absolute;
          width: 170px;
          height: auto;
          right: 1rem;
          bottom: 1rem;

          .screen-wrapper {
            padding-bottom: 56.25%;
          }

          .btn-toggler {
            display: block;
          }
        }

        &.teacher-webcam-shared,
        &.teacher-screen-shared, {
          ~ .no-stream {
            display: none
          }
        }
      }

      ng-whiteboard.active,
      ng-video-presentation.active,
      ng-canvas-whiteboard.active, {
        ~ .teacher-webcam-shared {
          position: absolute;
          width: 170px;
          height: auto;
          right: 1rem;
          bottom: 1rem;
          z-index: 15;

          .screen-wrapper {
            padding-bottom: 56.25%;
          }
        }

        ~ .no-stream {
          display: none
        }
      }
    }

    .participants-toggler {
      position: absolute;
      top: 10%;
      right: 0;
      z-index: 300;
      transition: all .4s;

      button {
        border-radius: 6px 0 0 6px;
      }
    }

    &.participants-active {
      .participants {
        right: 0;
        z-index: 200;
      }

      .participants-toggler {
        right: $participantsWidth;
      }

      .main-area {
        margin-right: $participantsWidth;
        width: calc(100% - #{$participantsWidth});
      }

      @include media-breakpoint-down(lg) {
        .main-area {
          margin-right: 0;
        }
      }
    }
  }
}
