:host {
  direction: ltr;
  display: inline-block;

  p-button {
    display: block;
  }

  ::ng-deep button {
    white-space: nowrap;
  }

  &.full {
    &,
    & ::ng-deep .p-button {
      width: 100%;
    }
  }
}
