<p-button
  [badge]="badge"
  [disabled]="disabled"
  [iconPos]="iconPos"
  [icon]="icon"
  [label]="label"
  [type]="type"
  [loading]="loading"
  badgeClass="p-badge-{{ badgeColor }}"
  styleClass="p-button-{{ appearance }} p-button-{{ color }} p-button-{{
    size
  }} p-button-{{ rounded ? 'rounded' : '' }} p-button-{{
    raised ? 'raised' : ''
  }}"
  (onClick)="_onClick($event)"
>
  <ng-template pTemplate="content" *ngIf="contentTemplate">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </ng-template>
</p-button>
