<div #actionsButton class="participant-item justify-content-between" [class.rtl]="fa">
  <div class="info">
    <ng-avatar [user]="user"></ng-avatar>
    <div class="name mx-2">
      <p>{{user.first_name + ' ' + user.last_name}}</p>
      <small class="role" *ngIf="user.role == 'Admin'">{{('room.' + user.role.toLowerCase()) | translate}}</small>
    </div>
  </div>
  <ng-container *ngPermission="'Viewer'">
    <i class="icon-hand-raise" [class.text-success]="raiseHandConfirmed" *ngIf="user.raise_hand && raiseHand"></i>
  </ng-container>
  <ng-container *ngIf="user.id != currentUser.id">
    <ng-container *ngPermission="'Admin'">
      <div class="raise-hand text-center" *ngIf="raiseHand">
        <ng-container *ngIf="!raiseHandConfirmed">
          <ng-button icon="icon-check" class="ml-1" (click)="confirmRaiseHand()"></ng-button>
          <ng-button icon="icon-close" (click)="rejectRaiseHand(false)"></ng-button>
        </ng-container>
        <ng-button class="ml-1" color="danger" (click)="rejectRaiseHand(true)"
                   [label]="'room.endAccess' | translate"
                   *ngIf="raiseHandConfirmed">
        </ng-button>
        <ng-button icon="icon-close" *ngIf="raiseHandConfirmed" class="ml-1"
                   (click)="rejectRaiseHand(false)"></ng-button>
      </div>
      <div class="actions" *ngIf="!raiseHand">
        <ng-button-async [class]="fa ? 'ml-1' : 'mr-1'" size="sm"
                         [icon]="user.muted_video ? 'icon-camera-off' : 'icon-camera'"
                         (clickAsync)="muteUserCamera($event)">
        </ng-button-async>
        <ng-button-async [class]="fa ? 'ml-1' : 'mr-1'" size="sm" [icon]="user.muted ? 'icon-mic-off' : 'icon-mic'"
                         (clickAsync)="muteUser($event)">
        </ng-button-async>
        <ng-button size="sm" icon="icon-more" (click)="actions.toggle($event)"></ng-button>

        <p-overlayPanel #actions styleClass="actions {{fa ? 'rtl' : null}}">
          <ul class="list-unstyled p-0 m-0">
            <!--      <li (click)="assignAdmin(actions)" *ngIf="user.role != 'Admin'">-->
            <!--        <i class="icon-assign-admin"></i>-->
            <!--        <span>{{'room.upgradeRole' | translate}}</span>-->
            <!--      </li>-->
            <li (click)="changeAvatar()">
              <i class="icon-info"></i>
              <span>{{'room.changeAvatar' | translate}}</span>
            </li>
            <li (click)="showStatus($event,actions,userStatus,actionsButton)">
              <i class="icon-info"></i>
              <span>{{'room.userStatus' | translate}}</span>
            </li>
            <li (click)="kickUser(actions)" *ngIf="user.role != 'Admin'">
              <i class="icon-remove-user"></i>
              <span>{{'room.kickUser' | translate}}</span>
            </li>
          </ul>
        </p-overlayPanel>
        <p-overlayPanel #userStatus styleClass="actions {{fa ? 'rtl' : null}}">
          <div class="info">
            <div class="d-flex flex-column align-items-center justify-content-between py-4">
              <ng-avatar [user]="user"></ng-avatar>
              <small>{{user.first_name + ' ' + user.last_name}}</small>
            </div>
            <div class="row no-gutters p-3 bg-light text-dark">
              <div class="col-6">
                <p class="h6">{{'room.networkStatus' | translate}}</p>
                <small class="text-muted">{{''}}</small>
              </div>
              <div class="col-6">
                <p class="h6">{{'room.deviceType' | translate}}</p>
                <small class="text-muted">{{user.device.toLowerCase() | translate}}</small>
              </div>
              <div class="col-6">
                <p class="h6">{{'room.webcamStatus' | translate}}</p>
                <small class="text-muted">{{(user.has_cam ? 'room.have' : 'room.notHave') | translate}}</small>
              </div>
              <div class="col-6">
                <p class="h6">{{'room.micStatus' | translate}}</p>
                <small class="text-muted">{{(user.has_mic ? 'room.have' : 'room.notHave') | translate}}</small>
              </div>
            </div>
          </div>
        </p-overlayPanel>
      </div>
    </ng-container>
  </ng-container>
</div>


