:host ::ng-deep {
  .participant-item {
    &, .info, .avatar, .actions {
      display: flex;
      align-items: center;
    }

    .info {
      flex-grow: 1;

      .name {
        flex-grow: 1;

        p {
          margin: 0;
        }

        .role {
          font-size: 10px;
          background-color: #5643C1;
          border-radius: 4px;
          padding: 0.15rem;
          color: #ffffff;
        }
      }

      &.kicked {
        opacity: 0.5;
      }
    }

    .actions, .raise-hand {
      ng-button,
      ng-button-async {
        button.p-button-primary {
          background-color: #5F6069;
        }
      }
    }

    ng-avatar {
      &.is-talking {
        .p-avatar {
          border: 5px solid #fec144 !important;
        }
      }
    }
  }
}
