<div class="participant-item justify-content-between" [class.rtl]="fa">
  <div class="info">
    <div [style.backgroundColor]="getColor()" class="avatar justify-content-center">
      {{user.first_name[0] + '.' + user.last_name[0]}}
    </div>
    <div class="name mx-2">
      <p>{{user.first_name + ' ' + user.last_name}}</p>
      <small class="role" *ngIf="user.role == 'Admin'">{{('room.' + user.role.toLowerCase()) | translate}}</small>
    </div>
  </div>
  <ng-container *ngPermission="'Viewer'">
    <i class="icon-hand-raise" [class.text-success]="activateRaiseHand" *ngIf="user.raise_hand && raiseHand"></i>
  </ng-container>
  <ng-container *ngIf="user.id != currentUser.id">
    <ng-container *ngPermission="'Admin'">
      <div class="raise-hand text-center" *ngIf="raiseHand">
        <ng-container *ngIf="!raiseHandConfirmed">
          <ng-button icon="icon-check" class="ml-1" (click)="confirmRaiseHand()"></ng-button>
          <ng-button icon="icon-close" (click)="rejectRaiseHand(false)"></ng-button>
        </ng-container>
        <ng-button class="ml-1" color="danger" (click)="rejectRaiseHand(true)"
                   [label]="'room.endAccess' | translate"
                   *ngIf="raiseHandConfirmed">
        </ng-button>
        <ng-button icon="icon-close" *ngIf="raiseHandConfirmed" class="ml-1"
                   (click)="rejectRaiseHand(false)"></ng-button>
      </div>
      <div class="actions" *ngIf="!raiseHand">
        <ng-button-async [class]="fa ? 'ml-1' : 'mr-1'" size="sm"
                         [icon]="user.muted_video ? 'icon-camera-off' : 'icon-camera'"
                         (clickAsync)="muteUserCamera($event)">
        </ng-button-async>
        <ng-button-async [class]="fa ? 'ml-1' : 'mr-1'" size="sm" [icon]="user.muted ? 'icon-mic-off' : 'icon-mic'"
                         (clickAsync)="muteUser($event)">
        </ng-button-async>
        <ng-button size="sm" icon="icon-more" (click)="actions.toggle($event)"></ng-button>
      </div>
    </ng-container>
  </ng-container>
</div>

<p-overlayPanel #actions styleClass="actions {{fa ? 'rtl' : null}}">
    <ul class="list-unstyled p-0 m-0">
      <!--      <li (click)="actionClick('assignAdmin',actions)" *ngIf="user.role != 'Admin'">-->
      <!--        <i class="icon-assign-admin"></i>-->
      <!--        <span>{{'room.upgradeRole' | translate}}</span>-->
      <!--      </li>-->
      <!--      <li (click)="actionClick('unassignAdmin',actions)" *ngIf="user.role == 'Admin'">-->
      <!--        <i class="icon-unassign-admin"></i>-->
      <!--        <span>{{'room.downgradeRole' | translate}}</span>-->
      <!--      </li>-->
      <li (click)="actionClick('kickUser',actions)" *ngIf="user.role != 'Admin'">
        <i class="icon-remove-user"></i>
        <span>{{'room.kickUser' | translate}}</span>
      </li>
    </ul>
</p-overlayPanel>
