<div class="exam">
  <div class="exam-header py-4">
    <div class="header-title">
      <i class="icon-chat mx-2"></i>
      <div>{{'room.classExam' | translate }}</div>
    </div>
    <div class="d-flex align-items-center">
      <i class="icon-close mx-2" (click)="closeSidebar.emit()"></i>
    </div>
  </div>
  <div class="wrapper p-3">
    <ng-button *ngIf="currentState != 'archive'" (click)="showArchive()" class="mb-4" [full]="true"
               [label]="'room.questionsArchive' | translate"
               icon="pi pi-angle-left"></ng-button>
    <ng-button *ngIf="currentState == 'archive'" (click)="goBack()" class="mb-4" [full]="true"
               [label]="'goBack' | translate"
               icon="pi pi-angle-left"></ng-button>
    <form *ngIf="currentState == 'modify'" [formGroup]="form" class="form-row">
      <ng-input-textarea [rtl]="fa" class="col-12 mb-3" [placeholder]="'room.enterYourQuestion' | translate"
                         formControlName="question"></ng-input-textarea>
      <ng-container formArrayName="answers">
        <ng-container [formGroupName]="i" *ngFor="let item of $any(form.get('answers')).controls;let i = index">
          <div class="d-flex align-items-center mb-3 col-12">
            <ng-single-checkbox formControlName="isCorrect"></ng-single-checkbox>
            <ng-input-text [rtl]="fa" [placeholder]="'room.enterYourOption' | translate" class="mx-2"
                           formControlName="text"></ng-input-text>
            <ng-button *ngIf="i > 1" color="danger" appearance="text" icon="pi pi-trash" (click)="deleteAnswer(i)"
                       size="sm"></ng-button>
          </div>
        </ng-container>
      </ng-container>

      <ng-button iconPos="right" [full]="true" class="col-4 text-right" appearance="text" icon="pi pi-plus"
                 (click)="addAnswer()"
                 size="sm"
                 [label]="'add' | translate"></ng-button>
      <div class="text-left mt-4 col-12">
        <ng-button (click)="onSubmit()" [label]="'room.publish' | translate"></ng-button>
      </div>
    </form>
    <div class="wrapper" *ngIf="currentState == 'archive'">
      <p-accordion>
        <p-accordionTab transitionOptions="0ms" *ngFor="let q of questions;let i = index" [header]="q.title">
          <ng-template pTemplate="content">
            <p-table [value]="q.answers" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>{{'room.answers' | translate}}</th>
                  <th>{{'room.people' | translate}}</th>
                  <th>{{'room.percent' | translate}}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-a>
                <tr>
                  <td>{{a.code}}</td>
                  <td>{{a.name}}</td>
                  <td>{{a.category}}</td>
                </tr>
              </ng-template>
            </p-table>
          </ng-template>
        </p-accordionTab>
      </p-accordion>
    </div>
    <div class="wrapper" *ngIf="currentState == 'result'">
      <p-table [value]="questions[0].answers" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>{{'room.answers' | translate}}</th>
            <th>{{'room.people' | translate}}</th>
            <th>{{'room.percent' | translate}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-a>
          <tr>
            <td>{{a.code}}</td>
            <td>{{a.name}}</td>
            <td>{{a.category}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
