<div class="wrapper" (contextmenu)="onContextMenu($event)">
  <div class="action-buttons d-flex">
    <ng-button *ngPermission="'Admin'" class="mr-2" icon="pi pi-times" color="secondary" (click)="close()"></ng-button>
    <ng-button *ngIf="presentationData?.is_downloadable" class="btn-close"
               icon="icon-download_FILL0_wght400_GRAD0_opsz48"
               color="secondary"
               (click)="downloadFile()"></ng-button>
  </div>

  <div class="video-controls" *ngPermission="'Admin'">
    <div class="progress-bar">
      <span class="buffer-bar"></span>
      <span class="time-bar"></span>
    </div>

    <div class="actions p-3 d-flex align-items-center">
      <div class="play-button mini pi flex-grow-1"></div>
      <span class="current-time">00:00</span> / <span class="duration">00:00</span>
      <div class="sound-button pi ml-4"></div>
      <input type="range" class="ml-2" value="70">
    </div>
  </div>

  <video preload="auto">
    <source src="">
  </video>
</div>
