<div class="wrapper" (contextmenu)="onContextMenu($event)">
  <ng-button *ngPermission="'Admin'" class="mb-3" icon="pi pi-times" color="secondary" (click)="close()"></ng-button>

  <div class="video-controls" *ngPermission="'Admin'">
    <div class="progress-bar">
      <span class="buffer-bar"></span>
      <span class="time-bar"></span>
    </div>

    <div class="actions p-3 d-flex align-items-center">
      <div class="play-button mini pi flex-grow-1"></div>
      <span class="current-time">00:00</span> / <span class="duration">00:00</span>
      <div class="sound-button pi ml-4"></div>
      <input type="range" class="ml-2" value="70">
    </div>
  </div>

  <video preload="auto">
    <source src="">
  </video>
</div>
