@import "mixins";

:host ::ng-deep {
  .chat {
    height: 100%;

    .chat-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #50585F;
      height: 70px;

      .header-title {
        display: flex;
        align-items: center;
      }

      i {
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    p-tabView {
      .public-header,
      .private-header {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          width: 0.5rem;
          height: 0.5rem;
          background: red;
          border-radius: 50%;
          top: 10%;
          left: 10%;
          z-index: 2000;
          display: none;
        }
      }

      &.unread-public {
        .public-header:before {
          display: block;
        }
      }

      &.unread-private {
        .private-header:before {
          display: block;
        }
      }

      .p-tabview {
        .p-tabview-nav-container {
          height: 60px;

          .p-tabview-nav {
            direction: ltr;
            background: transparent;

            li {
              flex-grow: 1;
              background-color: #40414A;

              &:not(.p-highlight):not(.p-disabled) {
                a {
                  border-color: #6c757d;
                }

                &:hover {
                  a {
                    background-color: transparent;
                  }
                }
              }

              a {
                justify-content: center;
                background-color: #40414A;


                &:focus {
                  box-shadow: none !important;
                }
              }
            }
          }
        }

        .p-tabview-panels {
          background-color: #40414A;
          padding: 0;
          height: calc(100vh - 60px - 70px);

          .p-tabview-panel {
            height: 100%;
          }
        }
      }
    }
  }
}
