<div class="chat">
  <div class="chat-header py-4">
    <div class="header-title">
      <i class="icon-chat mx-2"></i>
      <div>{{'room.messages' | translate }}</div>
    </div>
    <div class="d-flex align-items-center">
      <i class="pi pi-bars mx-2" (click)="chatActions.toggle($event)" *ngPermission="'Admin'"></i>
      <i class="icon-close mx-2" (click)="closeSidebar.emit()"></i>
    </div>
  </div>
  <p-tabView>
    <p-tabPanel header="چت خصوصی" leftIcon="icon-user-groups">
      <ng-private-chat [openChat]="enablePrivateChat"></ng-private-chat>
    </p-tabPanel>
    <p-tabPanel header="چت عمومی" leftIcon="icon-user-groups" [selected]="true">
      <ng-public-chat [openChat]="enablePublicChat"></ng-public-chat>
    </p-tabPanel>
  </p-tabView>
</div>

<p-overlayPanel [baseZIndex]="2000" #chatActions styleClass="actions {{fa ? 'rtl' : null}}">
  <ul class="list-unstyled p-0 m-0">
    <li (click)="onClearChatClick(chatActions)">
      <i class="icon-view-speaker"></i>
      <span>{{'room.clearAllMessages' | translate}}</span>
    </li>
    <li (click)="onSaveChatClick()">
      <i class="icon-view-speaker"></i>
      <span>{{'room.saveChat' | translate}}</span>
    </li>
    <li (click)="togglePublicChatActivation(chatActions)">
      <i class="icon-error-toast"></i>
      <span>{{(enablePublicChat ? 'room.closePublicChat' : 'room.openPublicChat') | translate}}</span>
    </li>
    <li (click)="togglePrivateChatActivation(chatActions)">
      <i class="icon-error-toast"></i>
      <span>{{(enablePrivateChat ? 'room.closePrivateChat' : 'room.openPrivateChat') | translate}}</span>
    </li>
  </ul>
</p-overlayPanel>
