<div class="chat">
  <div class="chat-header py-4">
    <div class="header-title">
      <i class="icon-chat mx-2"></i>
      <div>{{'room.messages' | translate }}</div>
    </div>
    <div class="d-flex align-items-center">
      <i class="pi pi-bars mx-2" (click)="chatActions.toggle($event)" *ngPermission="'Admin'"></i>
      <i class="icon-close mx-2" (click)="closeSidebar.emit()"></i>
    </div>
  </div>
  <!--  <p-tabView>-->
  <!--    <p-tabPanel header="چت خصوصی" leftIcon="icon-user-groups">-->

  <!--    </p-tabPanel>-->
  <!--    <p-tabPanel header="چت عمومی" leftIcon="icon-user-groups">-->
  <section class="chat-wrapper">
    <main class="chat-messages" #chatContainer (scroll)="scrolled()">
      <div class="pinned-container d-flex align-items-center justify-content-between py-2 m-2 rounded"
           *ngIf="pinnedMessage">
        <i class="icon-pin text-warning"></i>
        <div class="message-info flex-grow-1">
          <small
            class="d-block font-medium">{{pinnedMessage.user.first_name + ' ' + pinnedMessage.user.last_name}}</small>
          <small class="d-block font-light">{{pinnedMessage.message.message}}</small>
        </div>
      </div>
      <ng-container *ngIf="publicMessages.length != 0">
        <ng-message-item #messageItem *ngFor="let message of publicMessages;trackBy:trackByFn"
                         [position]="message.user.id == currentUser.id ? 'right' : 'left'"
                         [message]="message.message"
                         [sender]="message.user"
                         [replyMessage]="getReplyMessageOf(message)"
                         (delete)="onDelete(message)"
                         (pin)="onPin(message)"
                         (reply)="onReply(message)">
        </ng-message-item>
      </ng-container>
    </main>
    <div class="chat-footer">
      <div class="reply-container d-flex align-items-center justify-content-between py-2 m-2 rounded"
           *ngIf="replyMessage">
        <div class="message-info">
          <small
            class="d-block font-medium">{{replyMessage.user.first_name + ' ' + replyMessage.user.last_name}}</small>
          <small class="d-block font-light">{{replyMessage.message.message}}</small>
        </div>
        <i class="pi pi-times" (click)="cancelReply()"></i>
      </div>
      <div class="chat-inputarea">
        <ng-container *ngIf="openPublicChat">
          <ng-input-text [rtl]="fa" (keyup.enter)="sendMessage()" inputSize="md"
                         class="ml-2 flex-grow-1"
                         [(ngModel)]="chatText"></ng-input-text>
          <ng-button-async icon="pi pi-chevron-left"
                           (clickAsync)="sendMessage($event)"></ng-button-async>
        </ng-container>
        <span class="text-center flex-grow-1" *ngIf="!openPublicChat">{{'room.sendMessageBlocked' | translate}}</span>
      </div>
    </div>
  </section>
  <!--    </p-tabPanel>-->
  <!--  </p-tabView>-->
</div>


<p-overlayPanel [baseZIndex]="2000" #chatActions styleClass="actions {{fa ? 'rtl' : null}}">
    <ul class="list-unstyled p-0 m-0">
      <!--      <li (click)="saveChat()">-->
      <!--        <i class="icon-view-speaker"></i>-->
      <!--        <span>{{'room.showSpeakerOnly' | translate}}</span>-->
      <!--      </li>-->
      <li (click)="togglePublicChatActivation(chatActions)">
        <i class="icon-error-toast"></i>
        <span>{{(openPublicChat ? 'room.closePublicChat' : 'room.openPublicChat') | translate}}</span>
      </li>
      <!--      <li (click)="saveChat()">-->
      <!--        <i class="icon-view-speaker"></i>-->
      <!--        <span>{{(openPrivateChat ? 'room.closePrivateChat' : 'room.openPrivateChat') | translate}}</span>-->
      <!--      </li>-->
    </ul>
</p-overlayPanel>
